[2019-06-21 15:21] pshipton commented on #475
Yes, there was a respin of OpenJ9 to include IcedTea-Web, and the respin included b04 (although it doesn't affect OpenJ9) plus other OpenJ9 fixes.

[2019-06-21 15:21] #475 closed

[2019-06-25 18:20] userquin opened #518 "Question about Server JRE"
Hi:

Has Open JDK/JRE something similar to [Server JRE (Java SE Runtime Environment) 8 - Oracle](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiM6KSmn4XjAhXR5-AKHWRKBeQQFjAAegQIABAB&url=https%3A%2F%2Fwww.oracle.com%2Ftechnetwork%2Fjava%2Fjavase%2Fdownloads%2Fserver-jre8-downloads-2133154.html&usg=AOvVaw03B8PqUzgjJmQ2Ae5IEIbR)

Bye.

[2019-06-25 18:28] karianna commented on #518
Yes, you can download JREs from adoptopenjdk.net

[2019-06-25 18:28] #518 closed

[2019-06-26 12:18] userquin opened #519 "Hash verificaction wrong"
@karianna, @gdams

From this link https://adoptopenjdk.net/installation.html#x64_win-jre when copying the verification command using copy button the hash file to calculate the hash has the wrong target, that is, the hash file for the command is for JDK not for JRE:

If you see the command, it is OK:
`certutil -hashfile OpenJDK8U-jre_x64_windows_hotspot_8u212b04.zip SHA256`
but using the copy butto

[2019-06-27 21:43] #519 closed

[2019-06-28 09:54] Dichotomia opened #522 "Create a Windows installer for openjdk8 with jfx included"
Create a Windows installer for openjdk8 with jfx included

[2019-06-28 10:32] karianna commented on #522
We have issues covering this in openjdk-build and openjdk-installer.

[2019-06-28 10:32] #522 closed

[2019-07-06 10:06] SirTwsted commented on #477
I can confirm this on July 6th 2019 6:10-am EDT.
This does not want to download, it stays stuck at the very very end and hangs there forever.
It does not want to finish & it somewhat makes it impossible to surf, because it half locks the browser.
As the browser is waiting for the download task to end,  but it doesnt.
Forcing me to Force hard boot the computer, because its the only way to break fro

[2019-07-09 12:43] htfv commented on #477
I can confirm the issue, but I also want to add one detail. After Chrome finishes downloading, it hangs there forever. But at the same time, I can go to download folder, extract all files, and start using JDK without any issues.

I don't know exactly how Chrome+Defender work together, but it seems like Defender has no problem when JDK files are extracted from zip. To confirm that real-time protect

[2019-07-09 15:07] frevds commented on #477
Yes, it's a bug in Defender and should be brought to @Microsoft's attention. It might be security relevant, if Defender is not reacting on other threats any more (but you @htfv said it would be watching even if it hangs with a download). At least it's  not benefitial for system stability, as it prevents new downloads and stalls the CPU. So everybody can at least crash the system with such a ZIP fi

[2019-07-10 08:56] karianna commented on #477
Hi all - This has been passed onto the Windows Defender team - hope to hear back in a few weeks.

[2019-07-10 17:47] tresf commented on #477
To identify scope, I decided to run a test on other 64-bit installers.  @karianna feel free to share this information with Microsoft if you think it will add value.  As a stop-gap, it may be beneficial to do a comparison on the better benchmarking installers (hint it's not file size as BellSoft and Amazon are 80MB larger than Adopt's)

#### Environment

Tests were done on a brand new HP Spectre i7

[2019-07-12 03:53] toto6038 opened #529 "Language selection for Chinese should be divided into Chinese(Simplified) and Chinese(Traditional)"
**Website Issues:** https://github.com/AdoptOpenJDK/openjdk-website

The language selection toggle on the AdoptOpenJDK website only provides the option 中文 which stands for Chinese, however, Chinese is divided into Traditional Chinese and Simplified Chinese. I recommend AdoptOpenJDK can either rename the option 中文 to 中文(简体) or to provide both option for 中文(简体) and 中文(正體). This can allow people who

[2019-07-12 17:21] karianna commented on #477
That's some amazing analysis @tresf - thank you.  Hmmmm, that tells me that our MSI's are either shaped differently or are signed differently.

@ali-ince Can you do a compare and contrast for us?

[2019-07-12 18:32] karianna commented on #529
Thanks for the bug report - the website-next project will deliver a new i18n mechanism, we'll then fix this one :-)

[2019-07-14 00:41] breun commented on #350
I think this issue is a duplicate of https://github.com/AdoptOpenJDK/TSC/issues/33

[2019-07-16 08:03] karianna commented on #477
Hi all - had word back from the Defender team, who should have improved this already (please get your latest windows updates), with more improvements next month. Please let me know if you see improvement or not when you have time.

[2019-07-16 08:37] XakepSDK opened #532 "Wrong archive size"
Website show sizes in Mebibytes, not Megabytes and uses Mega prefix.

Possible solutions:
1. Switch to 10^3, so current prefix will be correct
2. Write MiB instead of MB, then current calculations will be correct

[2019-07-16 12:16] gdams commented on #532
This is how we currently work out the size:

[code]

What would you suggest we change to fix this?

[2019-07-16 14:22] XakepSDK commented on #532
Change `MB` in interface to `MiB`

[2019-07-16 14:24] XakepSDK commented on #532
It looks like this now:
![grafik](https://user-images.githubusercontent.com/4938483/61302501-66700200-a7d5-11e9-870b-30239ce32878.png)
Should look like this:
![grafik](https://user-images.githubusercontent.com/4938483/61302539-7851a500-a7d5-11e9-862a-92d4cfac9f55.png)

[2019-07-16 14:47] tresf commented on #477
Any version specificites to share (e.g.)?
* `KB2267602`: **`1.297.1192.0`** (July 16)
* `KB2267602`: **`1.297.1087.0`** (July 14)
* `KB2267602`: **`1.297.956.0`** (July 12)

I tested with the following URLs:
* https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.3%2B7/OpenJDK11U-jdk_x64_windows_hotspot_11.0.3_7.msi<br><br>✅ **Download finishes immediately**<br><br>
* https

[2019-07-16 16:11] karianna commented on #532
Whilst a more accurate notation, I'm not convinced our audience will appreciate the difference.

[2019-07-16 16:14] karianna commented on #477
@tresf I wonder if in the release stage we sign our binary in a different way, else as you say they've whitelisted our releases.

I think they're looking at all installers yes.

[2019-07-17 14:48] mjpt777 commented on #477
I've just tried 8u222 and it is having the issue again.

[2019-07-17 15:03] karianna commented on #477
Thanks, Martin, I'll ping them again - they may be whitelisting us as we put new releases out.

[2019-07-17 15:45] mjpt777 commented on #477
The latest is running for a few hours now at 30+ MBs to disk and eating a whole CPU. :-(

[2019-07-17 16:08] gdams commented on #477
my understanding as that as long as the binary is signed with the same cert it should already be whitelisted. @karianna can you check whether they whitelisted our cert or a single binary?

[2019-07-17 16:13] gdams commented on #477
@mjpt777 did you see any defender warnings when you went to open the installer? I'd be keen to know whether you see the warning below or not? Supposedly according to the Microsoft docs you can only remove this if you use an EV codesign cert which we can't as it requires a randomly changing token to unlock it. The docs do say that with a standard codesign cert you will stop seeing that warning once

[2019-07-17 16:29] gdams commented on #477
@mjpt777 I created a windows 10 VM in azure and had no issue download and running the following installer using edge: https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2019-07-16-04-03/OpenJDK11U-jdk_x64_windows_hotspot_2019-07-16-04-03.msi

Must have taken seconds from clicking downkload and run to the actual installer opening

[2019-07-17 16:43] tresf commented on #477
@gdams just for clarification, the message above from @mjpt777 says 8u222.  It was my post before that which reported 11u2019-07-16-04.  I'll retest both now.

Regarding EV: Yes, EV certs are a manual process unless you use a dedicated appliance and have someone sign into it periodically.  It may be worth it for official releases.

Note, Apple's notarization (in addition to the signing requirement

[2019-07-17 16:54] tresf commented on #477
Defender has provided the following updates since my last testing:

* `KB2267602`: **`1.297.1248.0`** (July 17)
* `KB2267602`: **`1.297.1193.0`** (July 16)

* ❓@mjpt777 I was unable to locate 8u222, can you please provide a direct link for testing?
* 🐞@gdams I've updated to the above Windows Defender patches and the comments I've posted in https://github.com/AdoptOpenJDK/openjdk-website/issues/477

[2019-07-17 16:58] tresf commented on #477
Sorry, Defender platform found another update (unsure why this wasn't found the previous iteration).  Running tests again.
   * `KB052623`: **`4.18.1907.4`** (July 17) (Platform Update -- NOT a definition update)

[2019-07-17 17:01] karianna commented on #477
Oh, I think I might have an idea - @mjpt777 was probably using the jdk8u222-b10 upstream build that Red Hat produces but distributes through Adopt.  I suspect that does not have a signing cert.

The Adopt 8u222-b10 binary is still coming out of our pipelines.

[2019-07-17 17:06] tresf commented on #477
Test results:
* 🐞The latest Windows Defender Platform Update `4.18.1907.4` (NOT a definition update) update does **NOT** address the issue with the [nightly installer](https://github.com/AdoptOpenJDK/openjdk-website/issues/477#issuecomment-512355952).  It's been scanning for 5 minutes now...

@gdams I'm not sure how Azure handes Windows defender scans.  Was this platform suitable for reproducing p

[2019-07-17 17:53] mjpt777 commented on #477
The link I'm using is: https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u222-b10/OpenJDK8u-jdk_x64_windows_8u222b10.zip

It has been running for a few hours now and my laptop is over heating! I did not get the "Windows Protected up PC" screen.

[2019-07-17 17:54] mjpt777 commented on #477
BTW a similar issue has been observed with the Zulu JDK.

[2019-07-17 19:58] karianna commented on #477
And they sign theirs I'd imagine but we should confirm that.

within 24 hours we should get proper signed adopt binaries out and we can see how they fare (see if they're whitelisted)

[2019-07-17 20:02] gdams commented on #477
They do indeed.

There is no difference between a release and nightly build in terms of codesigning.

[2019-07-17 20:10] karianna commented on #477
Hmm, in that case, I can only imagine whitelisting and/or a difference in the windows defender version on people's machines (although I'd expect most techies to aggressively upgrade that component).

[2019-07-18 08:52] douph1 commented on #477
Windows 10 + Chrome and definition update : KB2267602: 1.297.1299.0 from today and analysis *still running* after 1 hour for OpenJDK12U-jdk_x86-32_windows_hotspot_12.0.1_12.msi
It is worse than before .. usually it was between 3min(yesterday) and 20 minutes.

It can't be a signer whitlist ... and as people complain about scanning time for zip file ( wich is not signed ) event whitelisting our cert

[2019-07-18 09:07] wormuth commented on #477
Thought me and my teammates where the only people facing this problem...

Most downloads of significant size (>100m) via Chrome are blocking for us. No way out, yet but using FF for those kind of download :-/

So I would say this issue is definitely not specific to your AdoptOpenJDK archive.

[2019-07-18 18:23] exabrial opened #537 "Website is showing wrong versions"
The website is showing last year's release, not the most current.

![Screen Shot 2019-07-18 at 1 21 37 PM](https://user-images.githubusercontent.com/1392297/61481994-29377b80-a95f-11e9-947f-a15ebab1f688.png)

[2019-07-19 01:57] ParkerM commented on #537
Which OS/Arch did you have selected here? (or did the issue occur for all of them?)

[2019-07-19 11:09] karianna commented on #537
Suspect that's a caching issue - I can't seem to reproduce that.

[2019-07-19 15:17] exabrial commented on #537
Well now it's working correctly! No change on my side

[2019-07-19 15:17] #537 closed

[2019-07-22 17:58] mjpt777 commented on #477
The latest signed build downloads and installs without issue. However when I attempt to delete the installer file (Shift + Del) the problem resurfaces with it taking forever to calculate how long to delete. I have to reboot to make progress.

[2019-07-23 21:50] sazsaz commented on #477
Having the same issue with Microsoft Edge 44.17763.1.0 / Chrome 75.0.3770.142. The JDK file `https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u222-b10_openj9-0.15.1/OpenJDK8U-jdk_x64_windows_openj9_8u222b10_openj9-0.15.1.zip`  hangs while scanning using Windows Defender.

Incidentally there is no issue when using Firefox.

[2019-07-24 22:02] karianna commented on #477
Hi all,

FYI - Windows defender is due another update in the next 24-48 hours and then a larger fix will occur in August.

[2019-07-29 20:43] stepheneb commented on #477
Seeing same issue downloading OpenJDK on Microsoft Edge 44.18362.1.0. After downloading scanning continued for over an hour before I terminated the operation.

Downloaded and saved fine with Firefox and ran with Windows Installer. It took about 10 minutes before I got the dialog that OpenJDK was asking permission to install itself and then another 5m to complete.

[2019-07-30 22:39] RangaSamudrala opened #545 "v11 of Mac OS X download fails"
**Platform:**
Mac OS X
**Architecture:**
x86_64

Every time I try to download installer pkg file, the download stops at 58MB and fails.

[2019-07-30 23:16] karianna commented on #545
Both OpenJ9 and Hotspot download fine for me (Mac OS X 10.14.6).  Can you try with an alternative browser or after a restart?

[2019-07-30 23:21] RangaSamudrala commented on #545
It seemed to be an issue with my company's VPN. I logged out of the VPN and I was able to download.

This issue can be closed.

thanks

[2019-07-30 23:21] #545 closed

[2019-07-30 23:22] RangaSamudrala commented on #545
Issue related to VPN connection.

[2019-08-07 13:47] gdams commented on #8
bad bot

[2019-08-07 15:37] scientificware opened #548 "[Request] Access to LocalizeJS.com French"
Hi !

Can I have access to localizejs.com to fix missing translation.

Best regards.

[2019-08-08 12:55] karianna commented on #548
We're no longer using localize.js - stay tuned for website 3.0 which will have a new translation service!  Join adoptopenjdk.net/slack for details

[2019-08-08 12:55] #548 closed

[2019-08-13 08:55] beruic opened #550 "Add organizational info to the "About" page"
I am currently writing a bunch of documents about third parties we interact with in our company. We develop a lot of software for JVM, and thus I need to write something about AdoptOpenJDK.

I am however having a hard time figuring out which legal entity is behind AdoptOpenJDK. For now I have assumed that the legal entity is the _AdoptOpenJDK Community_, but I am in doubt. Especially because I can

[2019-08-13 14:57] karianna commented on #550
The legal entity is the "The London Jamocha Community Interest Company" - that is, the nonprofit that is behind the London Java User Group.

[2019-08-13 15:54] NitishBangera opened #551 "Cassandra 3.11.4 doesn't startup with AdoptOpenJDK build 25.222-b10"
* **Browser**:

My Java version is the following

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_222-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.222-b10, mixed mode)

I am in the process of evaluating AdoptOpenJdk so that my company moves away from Oracle's Jdk. All my java apps have been working fine but Cassandra 3.11.4 has been giving me issues duri

[2019-08-13 19:28] beruic commented on #550
...which is then in turn the main stakeholder of AdoptOpenJDK?

Is that how I am to understand it @karianna ?

[2019-08-13 21:43] karianna commented on #550
Not quite - the legal entity in the LJC who is certainly a large stakeholder.  I'd argue that:

IBM, jClarity, Red Hat, Karakun, Pivotal, Microsoft, Azul, Amazon are also large stakeholders.  See our adoptpenjdk.net/sponsors.html and TSC repo for influencers.

[2019-08-15 10:08] beruic commented on #550
Yes, but wouldn't you agree that all those stakeholders are organized through the LJC?

The main point here is that I need a single entity to refer to, in stead of refering to "The AdoptOpenJDK Community".

[2019-08-15 11:35] karianna commented on #550
The London Java Community would be it in that case.

[2019-08-22 07:32] aahlenst commented on #477
@karianna I just tested freshly generated Windows 10 1903 images. All results with Edge, no third-party AV:

JDK 8u222b10 MSI
JDK 11.0.4+11 MSI
JDK 11.0.4+11 ZIP
JDK 12.0.2+10_openj9-0.15.1 ZIP

all complete within 4 to 5 minutes on a machine with 4 CPUs and 16 GB RAM.

[2019-08-24 06:21] karianna commented on #477
Thanks for confirming!  Can others check (please make sure your O/S, Windows defender, and browser are at the latest versions.

[2019-08-26 14:03] badgerwithagun commented on #477
Crazy-long scan now on two different machines, but it _does_ eventually complete.  I've not encountered an indefinite hang yet (although I did nearly give up on the second one).  Definitely the longest scan I've seen on pretty much anything.

It seems that the browser has a single thread dedicated to download management, because it blocks that and stops anything else being downloaded in the meanti

[2019-08-28 20:33] beruic commented on #550
Ok, I will use that then. Thank you. Sorry for the late answer.

By the way, I cannot find a physical address on http://londonjavacommunity.co.uk/about-us/, which would be nice, but for now, the city and country will do.

[2019-08-30 13:40] karianna commented on #477
I'm now working for Microsoft :-).  I'm going to find the right team and track this down.

[2019-09-03 16:30] karianna commented on #477
I've found the correct folks.  The update still needs to be rolled out to 100% of windows users.  I'll check back here in a week

[2019-09-04 18:33] niclarcipretti opened #558 "32 bits JRE/JDK docker image"
Hi,

Do you have plans on releasing docker images for the 32bits JRE's/JDK's too? It would be very useful for micro services/cloud scenarios (every byte counts).

Thanks in advance

Nikao

[2019-09-09 16:03] jnunderwood opened #561 "alpine-slim entry on docker hub is incorrect"
* **Browser**: Chromium Version 76.0.3809.100 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

On https://hub.docker.com/r/adoptopenjdk/openjdk8, looking for the `alpine-slim` build, I find the following entry:

[code]

However, the second variant is incorrect. `jdk8u222-b10-slim` should be `jdk8u222-b10-alpine-slim` instead. If this entry is automatically generated, then a scr

[2019-09-09 19:18] vielmetti opened #562 "Adjust sponsorship text for Packet / Works on Arm for aarch64 (arm64) support"
As part of the 2019-2020 Works on Arm project year, we're looking through all of the sponsored projects to identify how the sponsorship contributions are credited and to make this all consistent.

I'll sync up with @gdams to make sure that the source text at https://github.com/AdoptOpenJDK/openjdk-website/blob/master/src/handlebars/sponsors.handlebars accurately reflects current reality. I don't h

[2019-09-10 12:25] frant-hartm opened #563 "RPM installation on Centos, RHEL, or Fedora is missing installation step"
The documentation section "RPM installation on Centos, RHEL, or Fedora is missing installation step" is missing 2nd step calling yum, e.g.:

[code]

https://adoptopenjdk.net/installation.html?variant=openjdk8&jvmVariant=hotspot#x64_linux-jdk

[2019-09-10 12:25] #563 closed

[2019-09-14 14:19] ggam opened #566 "Add information about installed "alternatives" for Linux RPM/DEB"
This is related to https://github.com/AdoptOpenJDK/openjdk-installer/issues/161. I had a hard time finding how to use `javadoc` and `jlink` alternatives from AdoptOpenJDK. In the end, the problem was my lack of knowledge about what the `javac` alternative was about (all development tools and not just the `javac` command).

I doubt I'm the only one that has faced that problem, so I think it would b

[2019-09-27 15:29] thegreystone opened #582 "Add website for JMC"
It would be wonderful to have a website for AdoptOpenJDK builds of JMC.

Some relevant graphics that could be used can perhaps be found here:
http://hg.openjdk.java.net/jmc/jmc-graphics/

The site should probably have nice links to released versions of JMC as well as snapshot builds, as well as to the update sites.

The builds can currently be found here:
https://ci.adoptopenjdk.net/view/JMC/job/j

[2019-09-30 10:50] hendrikebbers commented on #582
I can give it a try :)

[2019-09-30 11:25] karianna commented on #582
Cool, look to the iced tea web page as an example :-)

[2019-09-30 20:28] reinhapa commented on #582
@hendrikebbers if I need to change something on the build side ot things let me know...

[2019-09-30 21:20] hendrikebbers commented on #582
@reinhapa It looks good. Got it running on my machine and already see the new page in localhost :) Will create the content the next days.

[2019-10-01 08:13] thegreystone commented on #582
This is great! When we know the final URL of the update sites, we should override the jmc/application/org.openjdk.jmc.rcp.application/src/main/resources/updatesites.properties to point to the published update sites in both jmc7 (JMC 7.0.0) and jmc (JMC 7.1.0 EA) and respin. That way the RCP applications will find them too.

[2019-10-01 08:51] thegreystone commented on #582
Cool! A small typo: helpfull -> helpful

[2019-10-01 08:54] hendrikebbers commented on #582
Done :)

[2019-10-01 08:55] thegreystone commented on #582
For the RCP and Eclipse update sites to be usable, they must be unpacked somewhere. See https://download.oracle.com/technology/products/missioncontrol/updatesites/base/6.0.0/eclipse/
https://download.oracle.com/technology/products/missioncontrol/updatesites/base/6.0.0/rcp/

Or, for that matter, https://download.eclipse.org/eclipse/updates/4.11/

[2019-10-01 08:56] reinhapa commented on #582
Also I think the actual `index.hml` needs a AdoptOpenJDK update somehow...

[2019-10-01 08:57] thegreystone commented on #582
Yep, it's pretty neutral, but adopt-izing the update sites may be a good idea.

[2019-10-01 08:57] hendrikebbers commented on #582
@reinhapa what do you mean?

[2019-10-01 08:57] hendrikebbers commented on #582
ah, the index of the plugins. Got it ;)

[2019-10-01 08:58] reinhapa commented on #582
@thegreystone do you think we can have a accordingly tweaked `stylesheet.css` somewhere?

[2019-10-01 08:59] thegreystone commented on #582
Sure, you can just override the stylesheet during the build, just like you will override the jmc/application/org.openjdk.jmc.rcp.application/src/main/resources/updatesites.properties.

[2019-10-01 08:59] reinhapa commented on #582
@hendrikebbers is there a way to upload/update the update site content dynamically? pushing by the build job or using a webhook to trigger an update?

[2019-10-01 09:01] hendrikebbers commented on #582
I don't know. Never used handlebars.js before.

[2019-10-02 21:15] thegreystone commented on #582
Maybe we can publish only the release update sites for now, manually?

[2019-10-06 23:06] vielmetti commented on #562
hey @gdams I have this in mind at the moment; would love to sync up with you regarding it.

[2019-10-07 08:40] gdams commented on #562
hi @vielmetti! Sorry this slipped right past me! Drop me a message on slack when you're around and we'll work out a time to do this!

[2019-10-08 21:15] vielmetti commented on #562
@gdams I am on Pacific Time this week, trying to stick to Eastern Time hours. Will ping in the a.m.

[2019-10-10 08:23] thegreystone commented on #582
Back from vacation! :) Is there anything I can do to help this move along?

[2019-10-10 10:01] hendrikebbers commented on #582
From my point of view the PR can be merged (cc @karianna). Any other improvement can than be done based on this version. It do I miss something?

[2019-10-10 12:43] thegreystone commented on #582
It's called JDK Mission Control. It was changed before open sourcing so that there wouldn't be any copyright problems.

[2019-10-10 13:33] vielmetti commented on #562
Best to plan this for next week as Arm TechCon conference travel (and announcements, including a bunch of CI-related announcements) have me fully committed for this week.

[2019-10-19 08:20] brandelune opened #593 "Instructions for removing framework from /System/Library/Frameworks/JavaVM.framework/"
The instructions to install AdoptOpenJDK are clear enough but there is nowhere instructions to uninstall the package.

[2019-10-21 12:40] patric42 opened #592 "Debian Packages in Repo have wrong version for 8u232"
The current 8u232 release's deb version is

1.8.0-232-b09-2

instead of

8u232-b09.openj9-0.17.0-1

That way, debian users won't be able to update, as the new version is treated as old.

Thanks!

[2019-10-21 13:46] aahlenst commented on #592
Yikes. Affects Deb & RPM packages, HotSpot and OpenJ9.

[2019-10-21 14:40] jerboaa commented on #592
@karianna This seems a openjdk-build issue. Would you have the powers to move it there?

[2019-10-22 09:18] thegreystone commented on #582
Hi all! Anything I can do to help conclude this? It's so very close. :)

[2019-10-23 14:23] #582 closed

[2019-10-23 15:35] thegreystone opened #594 "JMC update site should be linked to"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

On the website the Eclipse Update Site should be linked to, rather than the zip used:
https://adoptopenjdk.jfrog.io/adoptopenjdk/p2-jmc-snap

[2019-10-24 06:56] thegreystone opened #595 "Should have both release and snapshot JMC RCP builds"
Right now only the snapshot builds are available on the JMC download page. Both release builds and snapshot builds should be available.

That said, this work should only be done once #594 is completed, as the final JMC RCP release builds need to override the update site URL to point to the final location of the build of update site for the same version.

See:
https://twitter.com/johanjanssen42/sta

[2019-10-24 06:57] thegreystone commented on #594
I opened a separate Issue (#595) for the release builds, as this needs to be decided and fixed first.

[2019-10-24 10:17] aahlenst commented on #595
Adding `https://adoptopenjdk.jfrog.io/adoptopenjdk/p2-jmc/` or `https://adoptopenjdk.jfrog.io/adoptopenjdk/p2-jmc-releases/` (whatever you like best) would do it? You could then publish the JMC releases there. Or is something else needed?

[2019-10-24 10:36] johanjanssen commented on #595
Releases should also have a version such as JDKMissionControl 7. That way I can create Chocolatey packages for them including checking the hash. Now all releases have the same resulting artifact, but different hashes which makes it very difficult to maintain. Next to that some people prefer to have a specific version instead of the latest.

[2019-10-24 19:27] thegreystone commented on #595
Right - for releases it would be nice to add the version in the name of the verified release bundles, and simplify the bundle names a bit.

Here's what some other distributions do:
Liberica:
http://download.bell-sw.com/lmc/bellsoft-lmc7.0-windows-amd64.zip
Azul:
https://static.azul.com/zmc/bin/zmc7.0.0.49-ca-win_x64.zip

How about going with something similarly clean and simple? jmc7.0.0-win-x64.z

[2019-10-24 19:32] thegreystone commented on #594
Also, the RCP update site should not be linked to - it's something that is only used by the RCP application internally. No need to link to it explicitly.

[2019-10-24 19:40] thegreystone opened #596 "The RCP update site should not be listed on the website"
The RCP update site is only used internally by the standalone/rcp version of JMC. Also, it's the update site ending with IDE that should be linked to as the Eclipse Plug-in update site.
<img width="1658" alt="adoptjmcpagefixes" src="https://user-images.githubusercontent.com/16906077/67519289-d3cde180-f6a6-11e9-85b3-d0d2f233f3ff.png">

[2019-10-25 06:00] misamisk opened #597 "404 error on Installation page"
* **Browser**:
Mozilla Firefox 52.9.0

When I try to open the language list (see screenshot below) the site throws 404 exception.
Screenshot:  https://prnt.sc/pnv3pj

[2019-10-31 11:45] #596 closed

[2019-10-31 22:15] thegreystone commented on #594
The RCP update site is already removed. As soon as we have finalized the update site URLs, I'll fix this.

[2019-10-31 22:18] thegreystone commented on #594
Good URLs for the update sites:
https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc/updatesite/7.0.0/ide/
https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc/updatesite/7.0.0/rcp/
https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc/updatesite/latest/ide/
https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc/updatesite/latest/rcp/

[2019-11-05 14:30] pshipton opened #601 "Windows OpenJ9 b09.1 update not available from download page"
Not sure if I should report this to website or build.

Looking at https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9 from Windows, the download suggested is https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09_openj9-0.17.0/OpenJDK8U-jdk_x64_windows_openj9_8u232b09_openj9-0.17.0.msi
which is not the b09.1 update.

Looking at https://adoptopenjdk.net/releases.h

[2019-11-05 20:55] alexkoster opened #602 "x86 linux builds?"
* **Browser**:

Great effort and project!  Is it possible to add x86/i386/i486/i586/i686/32-bit/ia32 32-bit x86 Linux builds?

[2019-11-05 22:33] karianna commented on #602
Duplicate of the request in the openjdk-build repo.  FYI - We've not found volunteers to work on this yet.

[2019-11-05 22:33] #602 closed

[2019-11-06 00:06] ParkerM commented on #603
I think this may have already been fixed on the front-end at some point. The current macOS builds appear to be labeled correctly as "macOS x64" and "macOS x64 Large Heap" (see [here](https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9)), and links appear to point to the correct artifacts.

[2019-11-06 10:32] PerMildner opened #605 "x32 is not what Windows Intel 32-bit is using"
Your [download pages](https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot#x32_win) has links to installers for Windows x32, but "x32" has a [well defined meaning](https://en.wikipedia.org/wiki/X32_ABI) and is not related to what Windows is using.

[2019-11-06 10:49] #603 closed

[2019-11-06 12:22] #601 closed

[2019-11-06 12:24] gdams commented on #605
@PerMildner thanks for your issue! Do I understand correctly that you want us to rename `Windows x32` to `Windows x86-64`?

[2019-11-06 12:30] #597 closed

[2019-11-06 12:54] PerMildner commented on #605
I do not know what a suitable name is (perhaps whatever Oracle uses?). I just know that "x32" definitely is the wrong name.

[2019-11-06 13:19] #532 closed

[2019-11-06 13:20] #378 closed

[2019-11-06 13:23] #605 closed

[2019-11-06 13:47] #431 closed

[2019-11-06 14:17] alexkoster commented on #602
Thanks @karianna I now see multiple issues and will follow and comment on the https://github.com/ojdkbuild/ojdkbuild repository.  My apologies for posting in the wrong repo.

[2019-11-06 15:33] karianna commented on #602
@alexkoster that should be github.com/adoptopenjdk/openjdk-build for our binaries

[2019-11-06 23:07] ijean opened #611 "Bug? Download page links to the JRE version"
It seems that the download page from the AdoptOpenJDK webpage links to the JRE version of the installer instead of the full JDK. The button label claims that you download the JDK version but you get only the JRE.

I've checked this for both the Windows and macOS installers, in both cases the JRE is downloaded.

[2019-11-07 12:02] gdams commented on #611
Thanks for the bug report! Fixed in https://github.com/AdoptOpenJDK/openjdk-website/pull/612

[2019-11-07 12:03] #611 closed

[2019-11-11 07:01] tresf commented on #477
FYI, Defender is coming to Linux, so the problem may cascade to other platforms if the factors which influence this are common between AV engines/archives https://www.zdnet.com/article/microsoft-defender-atp-is-coming-to-linux-in-2020/

[2019-11-11 22:04] karianna commented on #477
@tcarlisle2012 Have you had a chance to try again recently?

[2019-11-12 09:13] mrkapqa commented on #593
Please add an .uninstaller .pkg

[2019-11-18 19:00] warichnict opened #621 "feature request: msi option do install only JRE"
hi,
this is not a report for the website but for your msi, i couldnt find the repository of it.

following feature i would like tor request:
![image](https://user-images.githubusercontent.com/57467778/69081110-3c557780-0a35-11ea-9fac-1b4e3045e75b.png)
as you can see the option to install is only if you want to enable it into path, file association and so on, but not what to install.

I know todays

[2019-11-18 21:31] aahlenst commented on #621
There is a MSI JRE on https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot: https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.5%2B10/OpenJDK11U-jre_x64_windows_hotspot_11.0.5_10.msi

Or did I misunderstand?

[2019-11-19 22:06] #621 closed

[2019-11-25 12:30] JAIMY86 opened #624 "Java FX with AdoptOpenJDK JRE 8"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

Dear Team,

Good day.

Could you please suggest/recommend the Java FX that should be included with AdoptOpenJDK JRE 8 for Windows 10.

Any links on the instructions on how to install/implment  the Java FX with AdoptOpenJDK JRE 8 would be helpful?

Many t

[2019-11-27 15:02] JAIMY86 opened #625 "Deployment Rule set file for AdoptOpenJDK JRE 8"
* **Browser**:

[2019-11-27 15:03] #625 closed

[2019-12-03 13:54] DanHeidinga opened #627 "Add the OpenJ9 p & z Large Heap packages to the website"
Now that Adopt is building the large heap p & z packages [1] (and a big thanks for that!), can we get them added to the website as well?

We've previously exposed the large heap packages for Linux, Windows and Mac.

[1] https://github.com/AdoptOpenJDK/openjdk-build/issues/1400

[2019-12-03 14:20] sxa555 commented on #627
I'd add aarch64 to that list as well, since the non-Large Heap OpenJ9 nightly builds don't build just now ... Unless you have a reason not to want to in development aarch64 builds published to the nightly stream?

[2019-12-03 14:28] DanHeidinga commented on #627
@0xdaryl can you comment on whether the aarch64 builds should be on the Adopt nightly page?  You have a better view of the state of those builds.

[2019-12-03 18:30] sxa555 opened #628 "No longer any clear link to our docker repositories on the website"
* **Browser**: Firefox 67/Linux

There is no longer a docker link on the download page (it was https://github.com/AdoptOpenJDK/openjdk-website/pull/206) or on the "Other platforms" link (it was at https://github.com/AdoptOpenJDK/openjdk-website/pull/393/files) but both of these are not longer available so it's not obvious how users would discover our Docker repository.

[2019-12-04 12:47] sxa opened #629 "Inconsistencies in look and feel of the download pages"
Ref discussion in https://adoptopenjdk.slack.com/archives/C5LU29BC3/p1573055920018800 we seem to have three different formats for our download pages - main releases, archive and nightlies all look inconsistent. I'm not sure why the main release page was changed, but that one seems (at least to m) to be the messiest of the three (Supposedly it's a design "more closely resembling what designers thin

[2019-12-06 14:27] smlambert opened #630 "Update support page with correct next release info"
This issue is to correct the content in the table at the bottom of https://adoptopenjdk.net/support.html
which is static content at the moment, but contains a column Next/Latest Release which will be constantly changing.

Likely this should get updated to link to fresh content (so this page is not out-of-date) - suggestion to point to release notes page or something similar.

[2019-12-06 14:44] karianna commented on #627
This may be an API issue - when we swap over to v3 it'll be interesting to see if these just pop up.

[2019-12-10 20:46] zl-wang commented on #627
where are we with this (ppc64le large heap build)?  there are people waiting for it to pop up on the website.

[2019-12-10 23:09] smlambert commented on #627
We need someone to create a PR and welcome all contributors to help.

While waiting for some one to volunteer to do this work, if you need to pick up nightly builds, you can also get them directly from Jenkins jobs, or the releases repo (from where we pull them to serve them up on the website (via the API).

From Jenkins, see the "Last successful artifacts" from:
https://ci.adoptopenjdk.net/job/bu

[2019-12-19 23:45] markwoon commented on #307
Don't know if it's a regression, but "hotspot vs openj9" is NOT on the front page.

In fact, googling "hotspot vs openj9" leads to this page.

[2019-12-27 17:48] #630 closed

[2019-12-30 15:42] sxa opened #641 "Inconsistent experience between "Latest/archive/nightly" navigation"
Semi-related to https://github.com/AdoptOpenJDK/openjdk-website/issues/629 the navigation between "Release Archive", "Nightlies" and "latest" release is not intuative.
- The text at the top of the page tells you which page you are one
- Underneath that there are two buttons to switch to the other two pages
- The one on the left is shown in blue, the right one in grey (bear in mind neither are "act

[2020-01-01 22:45] sxa555 commented on #641
Also the banner on the archive page means that the two buttons move to a different place on the screen on that page so perhaps should be moved to underneath the buttons

[2020-01-06 09:55] adamfarley opened #643 "Meeting diary link broken"
* **Browser**: Firefox and Edge

The meeting diary link returns a 502 message.

https://calendar.adoptopenjdk.net/

I'm told this should be fixed by logging into google in another tab, but that doesn't solve the problem.

Issue 1: The link doesn't work.

Issue 2: Even when the link did work, requiring you to be logged into google is something that people should be informed of. (Perhaps a url retur

[2020-01-08 07:41] karianna commented on #627
@johnoliver - Whilst I'm passing through here - is the v3 API picking these up?

[2020-01-08 17:10] sxa opened #645 "Multiple pages using the "support" class"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

Several handlebar files use the `support` CSS class. We should probably clear this up a bit. Either rename the class from `support` or use i

[2020-01-08 18:01] sxa opened #646 "What links should be on the footer of each page?"
Mostly driven by a desire to determine where the FAQ should be linked, On the front page we have:

*On the bottom with arrows:*
- [Installation](https://adoptopenjdk.net/installation.html)
- [Migration](https://adoptopenjdk.net/migration.html)
- [Support](https://adoptopenjdk.net/support.html)
- [Get Involved](https://adoptopenjdk.net/getinvolved.html)

*Other links underneath:*
- [About](https://

[2020-01-08 20:08] sxa555 commented on #627
Looks like it might be on the basis that this link appears to download something :-)

https://api.adoptopenjdk.net/v3/binary/latest/11/ea/linux/aarch64/jdk/openj9/large/adoptopenjdk?project=jdk

So we can probably close this once the website is migrated to use the V3 API

[2020-01-08 20:37] sxa opened #649 "Architecture not detected when connecting from Chromium/Raspbian/arm32"
* **Browser**: Chromium on Raspbian

Testing on a Pi4 so it's a recent release.

The front page of adoptopenjdk.net does not appear to identify the platform properly so the blue download button does not go direct to the architecture-specific (arm32/armv7l) download, it just says "Latest release" and takes you to the page with the downloads for each architecture. I suspect this won't be too difficu

[2020-01-10 11:41] sxa555 commented on #307
@markwoon The front page has options for both and a "Help me choose" link. I'm not sure what you think is missing:

![image](https://user-images.githubusercontent.com/6487691/72150724-2366a400-339e-11ea-93b7-70ce610b70cc.png)

[2020-01-10 14:47] DanHeidinga commented on #646
Should the Adopt Docker images at docker hub be linked to as well?  I thought had a link to docker hub previously but don't see it now

[2020-01-10 14:55] sxa555 commented on #646
@DanHeidinga You are correct - See #628

[2020-01-10 16:15] #371 closed

[2020-01-10 17:44] tellison opened #650 "FAQ fix ups"
(Sorry for being late to the original review, which would have been a more appropriate place for these comments).

Hopefully you can 'Find' the referenced text in the FAQ.

typo

Minor: Inconsistent capitalization on OpenJDK.

Spacing

Missing words.

[code]
 - The first sentence is untrue, depending upon your definition of 'restriction'.  I suggest you remove it.
 - A couple of '.'s are missing.

[2020-01-11 07:42] markwoon commented on #307
I somehow skipped the homepage.

It's not on https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot, which is where I landed on the site.

[2020-01-13 12:38] sxa opened #653 "Hotspot vs OpenJ9 advice link missing from individual download pages"
I somehow skipped the homepage.

It's not on https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot, which is where I landed on the site.

_Originally posted by @markwoon in https://github.com/AdoptOpenJDK/openjdk-website/issues/307#issuecomment-573292180_

[2020-01-13 15:37] douph1 commented on #650
Latest bottom href link is broken

Another link with anchor seems good : <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues/1107#issuecomment-509272743"> this issue</a>

[2020-01-13 17:23] sxa opened #654 "FAQ: Latest bottom href link is broken"
Latest bottom href link is broken

Another link with anchor seems good :
`<a href="https://github.com/AdoptOpenJDK/openjdk-build/issues/1107#issuecomment-509272743"> this issue</a>`

you can try without "/" before #

https://github.com/AdoptOpenJDK/TSC#tsc-members

_Originally posted by @douph1 in https://github.com/AdoptOpenJDK/openjdk-website/issues/650#issuecomment-573723884_

[2020-01-13 17:25] sxa555 commented on #654
Not sure what's going on here - I couldn't reproduce it in either Chrome 67 or Firefox 60.3.0esr and first and now I can ... Likewise for a colleague testing on Safari. It seems to go to the right place and then jump away. This will have to be investigated separately from the other FAQ updates I feel ... Suggestions welcome ;-)

[2020-01-13 17:26] sxa555 commented on #650
(Split out the issue from the previous comment as it's not immediately obvious why ... Removing the `/` does not appear to fix it

[2020-01-16 10:25] JonasSchnoor opened #659 "Download page dropdown boxes for filtering are not working as expected"
* **Browser**: Firefox 72.0.1 (64-bit)

The dropdown boxes on the download page for filtering according to OS and architecture are not working as expected:

- Select OS "Any" and architecture e.g. "x86":

   _Actual behaviour_: You can only select "Any" and "x86" in the architecture dropdown until you select "Any" architecture again.

   _Expected behaviour_: If OS "Any" is selected all options sh

[2020-01-16 10:40] jerboaa commented on #659
@JonasSchnoor Please mention what you would expect to happen. I.e. contrast *actual* vs. *expected* behavior. It's not clear what you'd want fixed from the description. At least to me.

[2020-01-16 11:10] JonasSchnoor commented on #659
@jerboaa I've edited my original comment to reflect actual vs. (my) expected behaviour.
@gdams I'll try and have a look if I have some free time but I only know a little Javascript so maybe someone more knowledgeable would be better suited.

[2020-01-16 11:23] gdams commented on #659
@JonasSchnoor nevermind, I've fixed it here: https://github.com/AdoptOpenJDK/openjdk-website/pull/660

[2020-01-16 11:41] #659 closed

[2020-01-16 11:42] tellison commented on #659
@JonasSchnoor please check it is working as expected, and reopen this issue if required.

[2020-01-16 12:01] sxa555 opened #661 "Nightly builds not filter on HotSpot/OpenJ9 - shows both"
FireFox ESR on Linux:

https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

Regardless of whether the filter is set to HotSpot or OpenJ9 the table shows both and you can't tell which is which unless you hover over the filename.

[2020-01-17 15:15] gdams opened #663 "Installation page broken"
Currently, the installation page is hanging (this is due to the v3 changes not being applied to the installation.js file. https://adoptopenjdk.net/installation.html

[2020-01-17 15:47] #663 closed

[2020-01-20 10:10] gdams commented on #661
This is actually a bug with the V3 API. `jvm_impl` doesn't seem to work.

Example: https://api.adoptopenjdk.net/v3/assets/feature_releases/8/ga?page_size=100&?jvm_impl=openj9&vendor=adoptopenjdk

returns j9 and hotspot binaries. FYI @johnoliver

[2020-01-20 10:14] gdams commented on #649
@sxa555 a simple PR here should work: https://github.com/AdoptOpenJDK/openjdk-website/blob/master/src/json/config.json#L308

see https://github.com/AdoptOpenJDK/openjdk-website/blob/master/src/json/config.json#L175 for an example

[2020-01-20 10:31] johnoliver commented on #661
@gdams your url has 2 `?` in it

[2020-01-20 12:57] #661 closed

[2020-01-22 20:12] 0xdaryl commented on #627
I can confirm that the AArch64 OpenJ9 build is downloadable from the link above, but it does not show up on the Nightly build page here (https://adoptopenjdk.net/nightly.html) when searching for OpenJ9 JDK11 builds.

I'm happy to open a PR to enable that (and might as well do P and Z Large Heap while I'm at it).  I just need someone to point me to where I need to make those modifications to have t

[2020-01-23 00:01] sxa555 commented on #627
@gdams told me in the last TSC call that it'd be a five minute job that he'd do for me as soonas we GA'd so we need to kick him again it seems ...

[2020-01-23 00:29] smlambert commented on #627
Fist to sky, @gdams API v3!!!!

[2020-01-23 13:43] 0xdaryl commented on #627
Great, thanks!  Much appreciated.

[2020-01-23 15:47] patric42 opened #666 "Notice about '15th Jan 2020... update within 24-48 hours' still visible"
The above notice is still shown on the page, which looks like it's been forgotten.

Other question is, the 11.0.6 release of OpenJ9/Hotspot is only, 8u242 only Hotspot is updated, OpenJ9 still missing. Also from the repos, btw.

What happened?

[2020-01-23 16:00] aahlenst commented on #666
The OpenJ9 editions needed some additional fixes but should appear any minute now. That's why the notice is still there.

[2020-01-24 16:58] sxa555 commented on #627
Fixed under https://github.com/AdoptOpenJDK/openjdk-website/pull/668

[2020-01-24 16:58] #627 closed

[2020-01-24 17:56] DanHeidinga commented on #627
A big thank you to @gdams for delivering #668 and to everyone else involved in making this happen from the OpenJ9 community!

[2020-01-26 08:25] #666 closed

[2020-01-27 13:48] mrloop opened #669 "filterOS query params / anchor tag"
* **Browser**: Firefox Browser 73.0b9 (64bit) for Ubuntu canonical - 1.0

Previously I'd been able to give people links to versions they required e.g. https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot#x64_win, and they'd open it up and see a very limited choice of downloads, either the JDK or the JRE for the platform and other variants specific in the url. This was great

[2020-01-27 23:57] patric42 opened #670 "Openj9 11.0.6 for Windows x86 is missing (hotspot still provides one)"
Hi,

I'm wondering that, despite the effort the OpenJ9 team made for supporting 32bit Windows with the splitheap option (which makes it rather unique for using large heaps on that platform), exactly that build is missing for the Java 11 platform.

Could this be added again?

Thanks!

[2020-01-28 13:50] sxa555 commented on #371
For reference to anyone finding this work item, the FAQ is at https://adoptopenjdk.net/faq.html

[2020-01-29 10:58] rodionmoiseev opened #672 "Supported platforms page missing CentOS 8 and RHEL8 support"
* **Browser**:

Hi,

According to commit below, it appears that CentOS8 and RHEL8 support were officially added in the installer project, but the “supported platforms” page was not updates accordingly.

Related pull request: https://github.com/AdoptOpenJDK/openjdk-installer/pull/110

Regards

[2020-02-03 16:46] andrew-m-leonard opened #673 "Release Notes not updated for jdk8,11,13 January updates"
The website Release Notes have not been updated for the latest updates: https://adoptopenjdk.net/release_notes.html

Would it also be useful to put each version entry in the release notes into collapseable "Accordian's" maybe, as this document is very long...?

[2020-02-17 10:25] luchsh opened #674 "Broken links to https://ci.adoptopenjdk.net/"
* **Browser**: Chrome 80.0.3987.106, x64, Mac OS 10.15.3

Hello Adopt-OpenJDK maintainers,

I found the link to "https://ci.adoptopenjdk.net/" from the bottom of page "https://adoptopenjdk.net/" was broken. see the screenshots below
<img width="501" alt="截屏2020-02-1718 19 04" src="https://user-images.githubusercontent.com/1205973/74644959-15cce700-51b2-11ea-9b1c-10f93b78eb16.png">
I used to downlo

[2020-02-17 10:34] aahlenst commented on #674
The Jenkins master has disk space issues. Should be back soon.

[2020-02-17 11:37] luchsh commented on #674
got it, thanks!

[2020-02-17 11:37] #674 closed

[2020-02-19 03:43] #673 closed

[2020-02-20 10:57] getthegroove opened #678 "Typo on download page"
Seems like you mixed up German and English, as your download page says "[...]choice of either the OpenJDK HotSpot **oder** Eclipse OpenJ9 VM."
I don't know if Americans adopted _oder_ to their language, but for consistency reasons it should be _or_ instead.

Spotted on: https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=hotspot

[2020-02-20 15:05] piyush286 opened #698 "Access Old Nightly Builds from Adopt Build Website"
### Problem Description

Looking at https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9 for Linux x64, I noticed that the oldest build is from Jan 11, 2020.

We should be able to get some older nightly builds from a few months ago so that we can use those builds to narrow down regressions that might have been reported or investigated far away from when the original issue start

[2020-02-20 17:08] sxa555 commented on #678
Hmmm - definitely says `or` on my screen in both FireFox and Chrome on Linux - is your browser/OS set to a specific language (I'm in UK English, and which browser/OS is it?)
![image](https://user-images.githubusercontent.com/6487691/74960041-8454b380-5403-11ea-9583-eb5b728b1627.png)

[2020-02-20 17:27] sxa555 commented on #678
@jerboaa has reproduced it with language in firefox set to Deutsch

[2020-02-20 17:30] sxa555 commented on #672
At the moment we don't have any machines to test with, but we're in the process of getting playbooks set up for this to be able to run testing on at least one of those two :-)

[2020-02-22 03:56] rodionmoiseev commented on #672
Wow, that would be great! If you have trouble deciding between RHEL8 and CentOS8, then I would vote for RHEL8 👍

[2020-02-25 17:44] tresf commented on #477
I've been working with AdopOpenJDK on Windows right along and I had completely forgotten this bug, suggesting it has been fixed.  Today specifically, I installed 11.0.6, 8.0.242 (both JDK and JRE) and no endless wait times.

I have a feeling that the bug will rear its ugly head again someday in the future, but the MSIs don't seem to be having issues any more. 🤞

[2020-02-25 18:38] sxa555 opened #680 "JDK14 nightly builds not visible on the web site"
No option for JDK14 on https://adoptopenjdk.net/nightly.html even though they are being built in jenkins

[2020-02-26 14:56] aahlenst commented on #477
@tresf Thanks for confirming.

If the problem comes back, please do not hesitate to reopen.

[2020-02-26 16:32] andrew-m-leonard opened #681 "website not showing latest Nightly OpenJ9 builds"
Website shows latest jdk11 openj9 nightly as dated 7th Feb 2020: https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9

However, v2 API shows 25th Feb:
https://api.adoptopenjdk.net/v2/latestAssets/nightly/openjdk11?os=linux&arch=x64&heap_size=normal&openjdk_impl=openj9

[2020-03-02 00:37] vitkalisz opened #682 "Installation of JRE package not described"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

Installation was much harder because installation of JRE is not described at https://adoptopenjdk.net/installation.html#linux-pkg
Maybe just

[2020-03-06 13:11] karianna commented on #680
Hmm, have we ever displayed the next 'unreleased' versions on the website?  The frontpage also only allows 13 to be selected.

That said I think we should support this so folks can test out EA builds.

[2020-03-06 13:39] karianna commented on #681
Fixed by recent v3 API bug fix

[2020-03-06 13:39] #681 closed

[2020-03-08 13:11] sxa opened #685 "arm32/aarch32 entries missing from supported_platforms.html"
We bulid on Ubuntu and not RHEL/CentOS for arm32. We should ensure this is documented on the [supported platforms page](https://adoptopenjdk.net/supported_platforms.html). At the moment some of the aarch32 entries are missing.

The note aobut glibc versions will also need to revised

[2020-03-10 08:01] aahlenst commented on #682
I'd prefer we'd explain how to use `apt search adoptopenjdk`.

[2020-03-11 16:30] sxa555 opened #687 "arm32 jdk8u242 missing from main website"
Exists in https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u242-b08
Does not exist in https://adoptopenjdk.net/releases.html

[2020-03-11 17:19] jerboaa commented on #687
Seems to be a case of API being hung again? @johnoliver Thoughts? If so, perhaps the API should auto-reboot every day or so to avoid this?

[code]

[2020-03-13 14:39] karianna commented on #680
https://github.com/AdoptOpenJDK/openjdk-website/pull/688 - makes it visible in nightly (as it should do)

[2020-03-13 14:39] #680 closed

[2020-03-13 17:23] sxa555 commented on #687
https://github.com/AdoptOpenJDK/openjdk-api-v3/pull/124 was put in as an attempt to resolve this. The 8u242 builds are now visible on the web site

[2020-03-13 17:23] #687 closed

[2020-03-24 23:52] pshipton opened #696 "Make debugimage archives available on the website"
It would be useful to have downloads of the debug image archives via the website. Ideally the debugimage archives will be preserved for every build.

https://github.com/AdoptOpenJDK/openjdk-build/issues/1596 added debug image archives for OpenJ9 builds. Copying the contained debug-image folder over top of the jdk makes symbols available to greatly ease the task of debugging an issue with native co

[2020-04-13 02:00] vielmetti commented on #562
Thanks for tracking this, @karianna and @gdams . Since I last corresponded, Packet has a new logo as a consequence of our acquisition by Equinix. Looking forward to getting this sorted; you can let me know what assets we need to update.

[2020-04-14 07:45] gdams commented on #562
Hi Ed, I'll try and get the new logo added this week!

[2020-04-14 08:33] gdams commented on #562
@vielmetti logo updated here: https://github.com/AdoptOpenJDK/openjdk-website/pull/701

[2020-04-14 10:06] #562 closed

[2020-04-14 14:18] pshipton opened #703 "Nightly OpenJ9 jdk downloads are not jdks"
**Platform:**
All

**Architecture:**
All

Looking at
https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 the downloads are not jdks but debug images and test images.

[2020-04-14 15:07] #703 closed

[2020-04-15 16:06] vielmetti commented on #562
New text as well (reflecting acquisition) @gdams @karianna

Packet, an Equinix company, is the leader in automated bare metal. We focus on making infrastructure a competitive advantage for digital businesses with developer-friendly bare metal and a neutral, secure, interconnected ecosystem of networks, software, and solution partners.

Packet combines unmatched geographic reach, interconnection pr

[2020-04-15 16:23] karianna commented on #562
https://github.com/AdoptOpenJDK/openjdk-website/pull/705

[2020-04-17 13:46] pshipton opened #708 "The "early access" badge doesn't show up in the archive"
https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9

The jdk-11.0.7+10 download for AArch64 doesn't show the "early access" badge on this page.

[2020-04-17 14:57] #708 closed

[2020-04-17 19:12] andrew-m-leonard opened #710 "jdk-11.0.7+10_openj9-0.20.0 not visiable in website or apiv3"
* **Browser**:

The website is not showing the published jdk-11.0.7+10_openj9-0.20.0
https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9

[2020-04-17 20:40] pshipton opened #711 "The "early access" badge appears for all jdk11 platforms"
fyi https://github.com/AdoptOpenJDK/openjdk-website/issues/708

https://adoptopenjdk.net/archive.html?variant=openjdk11&jvmVariant=openj9

The "early access" badge appears to apply to all jdk-11.0.7+10 downloads.

[2020-04-17 21:28] pshipton commented on #711
I see it is fixed now.

[2020-04-17 21:28] #711 closed

[2020-04-20 10:07] gdams commented on #698
@pilhuhn this should be fixed now, you can now use the date selector to go as far back as you like.

[2020-04-20 10:07] #698 closed

[2020-04-20 15:55] piyush286 commented on #698
Perfect! Thanks everyone for fixing this.

[2020-04-20 22:23] arnieAustin opened #714 "Downloaded file checksum doesn't match."
I'm on Windows 10/64 and the checksums don't match.

SHA256 hash of OpenJDK13U-jdk_x64_windows_hotspot_13.0.2_8.zip:
6980db87a3f921801fcf50d1a933304cf4d4b46ef2d35617c96fcc40ac1a1eb9
CertUtil: -hashfile command completed successfully.
4dce48e8c67d6191acc2e8fc1ec450ac7a51e6f15102c9c42cf3b564a5bb3df4

[2020-04-21 16:24] sxa commented on #714
@arnieAustin Where is the second checksum coming from? The first one is correct for [the file](https://github.com/AdoptOpenJDK/openjdk13-binaries/releases/download/jdk-13.0.2%2B8/OpenJDK13U-jdk_x64_windows_hotspot_13.0.2_8.zip) (I've downloaded it, computed the checksum with `sha256sum` and it's the same one you mention ending in ` 1a1eb9` as what's in our  [sha256.txt file](https://github.com/Ado

[2020-04-21 18:08] ParkerM commented on #714
`4dce48e8c67d6191acc2e8fc1ec450ac7a51e6f15102c9c42cf3b564a5bb3df4` is the sha256 checksum for OpenJDK14U-jdk_x64_windows_hotspot_**14.0.1_7**.zip.

See [sha256.txt](https://github.com/AdoptOpenJDK/openjdk14-binaries/releases/download/jdk-14.0.1%2B7/OpenJDK14U-jdk_x64_windows_hotspot_14.0.1_7.zip.sha256.txt)

[2020-04-21 18:30] sxa commented on #714
Well spotted. yes that makes sense. Hopefully that clarifies things for you @arnieAustin ... I close this - if you believe there's still an outstanding issue you can reopen it.

[2020-04-21 18:30] #714 closed

[2020-04-23 12:11] tellison opened #716 "Change default download offered from 8 LTS to 11 LTS"
At present, when you visit adoptopenjdk.net you are offered by default the OpenJDK 8 (LTS) version.

Propose to leave all options as-is, but change the default selected radio button to be OpenJDK 11 (LTS), thereby requiring users to explicitly select the older version.

The rationale is that we should be encouraging people to use the latest LTS unless they choose otherwise.

Same default changes s

[2020-04-24 08:16] #336 closed

[2020-04-26 10:06] iemejia commented on #643
+1 still broken

[2020-04-26 19:35] karianna commented on #399
We should revisit this as well as the upstream builds discussion

[2020-04-27 15:57] #653 closed

[2020-04-27 16:19] karianna opened #719 "Tighten language around the use of the term OpenJDK"
AdoptOpenJDK builds binaries consisting of a Java Virtual Machine from:

* OpenJDK Hotspot
* Eclipse OpenJ9

Either of those is then combined with OpenJDK class libraries

The wording on our website sometimes isn't as clear between this distinction as it could be.

[2020-04-27 16:36] tellison commented on #719
As you say, the two builds differ by JVM, hence isn't the distinction between "OpenJ9" and "HotSpot", rather than OpenJ9 and OpenJDK?

[2020-04-28 10:38] karianna commented on #719
Updated the comment above, I don't _think_ it materially changes the PR contents, LMK!

[2020-04-30 04:25] oliver303 opened #720 "provide the type of the checksum on the archive page"
* **Browser**: all browsers

On the archive page you can copy an paste the checksum of your download, but it doesn't mention the type of the checksum, like sha1, sha256 and so on. Please, provide the type of the checksum, too.

[2020-05-07 22:20] Anaerin opened #721 "All downloads fail with "SignatureDoesNotMatch" error"
* **Browser**: FireFox Nightly 78.0a1 (2020-05-04), Google Chrome 81.0.4044.129

Every time I attempt to access one of the download links, I get the following message:

[code]

Download URL attempted is `https://github-production-release-asset-2e65be.s3.amazonaws.com/140418865/01f68600-8551-11ea-9797-31eaf068ad8d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200507%2Fu

[2020-05-07 22:37] juli1 commented on #721
I have the same issue - cannot install it using `brew` as well.

[2020-05-07 23:40] Anaerin commented on #721
And now it seems to be fixed. Still, something to be aware of.

[2020-05-08 11:29] karianna commented on #721
S3 was glitching for awhile.

[2020-05-08 11:29] #721 closed

[2020-05-27 18:43] reinhapa opened #724 "Adding links to JMC final version 7.1.1 artifacts"
There should be also links to the 7.1.1 JMC version.

[2020-05-27 21:42] sharon-wang commented on #629
Chiming in 🙂

Being able to filter by OS and Architecture would be a nice feature not only on the "Latest release" page, but also the "Archive" and "Nightly builds" pages.

The "Nightly builds" page does have the search box, but I actually didn't notice it until I recently realized it wasn't a button 😅. I think the centered text in the search box is what made me think it was a button. Perhaps left

[2020-05-28 13:48] #724 closed

[2020-05-28 14:37] gdams commented on #716
@tellison please change the line here: https://github.com/AdoptOpenJDK/openjdk-website/blob/master/src/json/config.json#L9

[2020-05-28 14:52] karianna commented on #716
TSC has agreed to make this change

[2020-05-31 08:07] reinhapa opened #726 "Add version number to artifacts"
As mentioned in #595 this update updates the links to the new artefact names containing the newly added version numbers.

[2020-05-31 10:23] #726 closed

[2020-06-01 11:42] #716 closed

[2020-06-03 06:41] Pierre-de-la-Verre opened #729 "Availability table outdated?"
Hi
the table here [https://adoptopenjdk.net/support.html](https://adoptopenjdk.net/support.html) seem to be not up-to-date.

[2020-06-04 21:08] #729 closed

[2020-06-12 08:24] dmpe opened #733 "Permanent URLs to the latest releases"
Hi,
[amazon java](https://docs.aws.amazon.com/corretto/latest/corretto-11-ug/downloads-list.html)  has a lovely feature of having a permanent URL which redirects to always the latest release. Can this project please also consider it?
My case is particularly on windows where we automate a lot of stuff using ansible and having a permanent URL which I can use to download e.g LTS releases would be ver

[2020-06-12 09:26] aahlenst commented on #733
We have something like that: https://api.adoptopenjdk.net/v3/installer/latest/8/ga/windows/x64/jdk/hotspot/normal/adoptopenjdk?project=jdk gives you the latest Windows x64 MSI for 8. Please see https://api.adoptopenjdk.net/swagger-ui/#/Installer/get_v3_installer_latest__feature_version___release_type___os___arch___image_type___jvm_impl___heap_size___vendor_ for the full docs.

Discovering this req

[2020-06-12 22:52] RedBaron2 opened #735 "Update Windows Instructions to ad quotes for MSI installer"
When using the following to install a jre binary msi file.
`"C:\WINDOWS\System32\msiexec.exe" /i "C:\Downloads\OpenJDK14U-jre_x86-32_windows_hotspot_14.0.1_7.msi" /quiet InstallDir=c:\Program Files\AdoptOpenJDK ADDLOCAL=FeatureMain,FeatureEnvironment,FeatureJarFileRunWith,FeatureJavaHome`

This is just like the first example on your [page](https://adoptopenjdk.net/installation.html#windows-msi-cmd

[2020-06-16 12:51] hendrikebbers opened #734 "Provide "supported versions" information for ITW"
Based on a discussion on the ITW slack channel.

Currently we do not define what GA releases of Adopt are supported by ITW. We should add additional information [here](https://adoptopenjdk.net/icedtea-web.html) and [here](https://adoptopenjdk.net/migration.html).

[2020-06-17 16:45] #735 closed

[2020-06-18 14:10] vveider opened #737 "Archive page is missing: https://adoptopenjdk.net/archive.htm"
Archive page is missing: https://adoptopenjdk.net/archive.htm
404

[2020-06-18 14:23] aahlenst commented on #737
It's https://adoptopenjdk.net/archive.html. Did you find the link without the `l` at the end somewhere?

[2020-06-18 14:50] vveider commented on #737
Dah... Thanks. I guess I missed l when copied it...

[2020-06-18 14:50] #737 closed

[2020-06-23 09:30] M-Davies opened #739 "Add java -version output to the nightly build download page"
See https://github.com/AdoptOpenJDK/openjdk-build/issues/367

We are now adding the java version output to the metadata from the builds. Assuming this will now automatically appear in the API (CC @johnoliver ?), please provide the java -version output of each build on the download so users can track it back to a git branch and commit.

[2020-06-23 09:53] gdams commented on #739
I think the API might need some changes to expose this, lets see what @johnoliver thinks

[2020-06-23 14:42] johnoliver commented on #739
I am not sure what is in the java -version output that is not in the version data
looking at

[code]

It seems like all the data in the full_version_output is also in version

[2020-06-23 15:09] M-Davies commented on #739
It was requested at https://github.com/AdoptOpenJDK/openjdk-build/issues/367 that the version output is displayed at the nightly download page

[2020-06-23 15:20] johnoliver commented on #739
I think the problem is that issue was requesting this to tie back a build to a git commit, I am not sure the output of java -version here allows you to do that. I would have thought a way to do this would be to include the git commit hash into the metadata

[2020-06-23 15:56] M-Davies commented on #739
@johnoliver See existing issue for that https://github.com/AdoptOpenJDK/openjdk-build/issues/474

[2020-06-23 16:20] johnoliver commented on #739
@M-Davies yeah I think that would be the issue to solve as I think that would solve https://github.com/AdoptOpenJDK/openjdk-build/issues/367 but I dont believe adding java -version to the metadata does

[2020-06-24 09:28] M-Davies opened #740 "Add bash configure output to each binary"
See https://github.com/AdoptOpenJDK/openjdk-build/issues/11

This may also be an api issue but we are now adding the bash configure output to the metadata from the builds. Assuming this will now automatically appear in the API, please provide this output on the download so users who are curious can see how exactly our binaries are built

[2020-06-24 16:11] sxa opened #741 "Make it clear that AIX OpenJ9 JDK11+ builds require xlc16 runtime"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

AIX OpenJ9 JDK11+ builds require xlc16 runtime. Additional information about that topic can be found at https://github.com/AdoptOpenJDK/open

[2020-06-26 00:15] AFrappeM opened #742 "System.load throws UnsatisfiedLinkError"
OS Version: **Windows 2019 Server**
AdoptOpenJDK Version: **OpenJDK14U-jdk_x64_windows_hotspot_14.0.1_7**
Symptoms:
When running a java code with System.load(path), where the path is valid, pointing to a dll, a UnsatisfiedLinkError is thrown.

The library in the example is https://github.com/java-native-access/

[2020-07-01 09:41] #719 closed

[2020-07-03 08:05] hendrikebbers commented on #734
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/662

[2020-07-07 15:13] M-Davies commented on #740
Also see https://github.com/AdoptOpenJDK/openjdk-build/pull/1959

[2020-07-07 15:13] M-Davies commented on #739
See https://github.com/AdoptOpenJDK/openjdk-build/pull/1959

[2020-07-07 15:51] karianna commented on #740
Is the metadata file available in the API and website UI? If not then let's reliable this issue to do just that :-)

[2020-07-07 19:13] M-Davies commented on #740
I will check that tommorow

[2020-07-08 09:06] M-Davies commented on #740
I couldn't see configure_arguments OR full_version_output in the API. If it was going to be anywhere, it would be in the [assets section](https://api.adoptopenjdk.net/swagger-ui/#/Assets).

I'm not sure where I could find it in the website but if it's not visible in the API, it likely won't appear in the website either

[2020-07-08 09:11] M-Davies commented on #739
Transferring to api repo (see https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/235#issuecomment-655392766)

[2020-07-20 21:58] orexy opened #750 "API requests fail when using Tor"
CloudFlare presents a captcha for Tor users, causing non-browser tools to fail.
[code]

Please explicitly allow Tor users on CloudFlare by configuring the [IP Access Rules](https://support.cloudflare.com/hc/en-us/articles/217074967-Configuring-IP-Access-Rules).

Thank you.

[2020-07-21 18:01] pshipton opened #751 "https://github.com/AdoptOpenJDK/support doesn't exist"
https://adoptopenjdk.net/getinvolved.html contains a link to https://github.com/AdoptOpenJDK/support but this repo no longer exists.

[2020-07-22 10:54] aahlenst commented on #751
It exists, but had a different name from the start. PR is in.

[2020-07-22 10:56] aahlenst commented on #624
https://adoptopenjdk.net/faq.html#openjfxfaq

[2020-07-22 10:56] #624 closed

[2020-07-22 12:53] #751 closed

[2020-07-28 11:01] sxa opened #753 "Latest release page does not have clickable github release links"
On https://adoptopenjdk.net/archive.html the release names in the squares on the left of the page are clickable and take you to the coirresponding github release, but in the "Latest release" page at https://adoptopenjdk.net/releases.html they are no such links.

[2020-08-01 14:35] Hello71 opened #755 "Installation page shows wrong PATH for OpenJ9 binaries"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

AdoptOpenJDK provides a documentation to install the Adopt binaries. An example can be found here: https://adoptopenjdk.net/installation.htm

[2020-08-01 14:36] Hello71 commented on #283
Seems to work fine now.

[2020-08-02 12:08] #283 closed

[2020-08-07 10:18] nils-ten-hoeve opened #756 "Cannot find where to download installers"
Admittedly, I am a bit clumsily and dyslectic and I did not read the whole https://adoptopenjdk.net/installation.html page, but I cannot find WHERE to download the installers (e.g. .msi for windows).

One would assume that this would be directly available via an easy click of a button on the top of the page, so that as many people download it as possible (easier download=more downloads).

https://

[2020-08-07 10:34] karianna commented on #756
@nils-ten-hoeve - thanks for this issue.  It's a good first issue for folks to try, would you like to give making a PR for this one a go?

[2020-08-07 10:42] gdams commented on #756
@niklas-ekman-telia take a look at https://adoptopenjdk.net/releases.html,

The installers are available in the same location as the tarballs, look for the `.msi` option in the downloads

[2020-08-10 08:08] akdsco commented on #753
I looked into this, and it seems like the problem could be in data being lost somehow when it's manipulated in JS file. However, the problem I encountered was that any time I made a small change in JS file, like `console.log()`, after gulp rebuilds the files, it comes back with this error message:

`GET http://localhost:3000/dist/js/app.min-77d542e9.js net::ERR_ABORTED 404 (Not Found)`

Since I've

[2020-08-10 08:18] akdsco commented on #550
Hi, @karianna let me know if you need to update the website with new info, I'd be happy to help :)

[2020-08-11 02:09] ParkerM commented on #753
It sounds like you're on the right track, but I think it may be related to how the API endpoints differ between each page.

It looks like the Archive page is pulling data from `/assets/feature_releases/:version/:release_type`, which contains a `release_link` attribute along with a list of binary resources for each release:

| ![image](https://user-images.githubusercontent.com/5124113/89847286-3bc3

[2020-08-12 16:55] akdsco commented on #550
Done. SSL is in the making.

[2020-08-13 15:15] lumpfish opened #758 "Release notes page is missing July 2020 update"
As posted on the `release` Slack channel, the release notes page https://adoptopenjdk.net/release_notes.html is missing the list of fixes for the July 2020 releases.

I see this blog post (which was posted before the jdk8u265-b01 respin), but nothing in https://adoptopenjdk.net/release_notes.html

[2020-08-14 12:58] bmuskalla opened #759 "Slack link is not functional"
* Chrome 84 on macOS

Slack page shows error: https://adoptopenjdk.net/slack.html

[2020-08-14 15:30] #759 closed

[2020-08-14 18:16] bmuskalla commented on #759
Thanks!

[2020-08-20 21:24] akdsco commented on #550
Ok, you can consider it done @karianna
SSL is working. I even managed to get the event timeline automatically display the next coming event.
The site is kind of slow, I'll investigate this but that's a different issue.

[2020-08-24 04:27] rdenhof commented on #756
Hi, please assign me the issue.

[2020-08-24 04:34] nils-ten-hoeve commented on #756
How?

On Mon, Aug 24, 2020, 06:28 rdenhof <notifications@github.com> wrote:

[2020-08-24 04:38] rdenhof commented on #756
I guess @karianna or @gdams might be able to do this.

[2020-08-24 04:54] aahlenst commented on #756
@rdenhof As you wish 🙂

[2020-08-24 05:20] rdenhof commented on #756
Thanks, please review [PR 761](https://github.com/AdoptOpenJDK/openjdk-website/pull/761).

[2020-08-24 05:57] rdenhof opened #762 "Update NPM dependencies"
Several NPM dependencies are `npm update` candidates. Additionally `npm audit fix` should be executed.

[2020-08-24 06:03] aahlenst commented on #762
@gdams What about activating Dependabot?

[2020-08-24 09:25] rdenhof commented on #762
@aahlenst , @gdams : If there is nothing to be said against it, I could introduce Dependabot. Cool feature, wasn't aware of it 🙂.

[2020-08-25 06:08] rdenhof commented on #756
Updated [PR 761](https://github.com/AdoptOpenJDK/openjdk-website/pull/761).

[2020-08-25 07:04] aahlenst commented on #762
@rdenhof If you prepare a config, I'll happily review it.

[2020-08-25 11:05] rdenhof commented on #762
checking behavior atm

[2020-08-25 11:06] rdenhof commented on #756
Thanks for merging, @aahlenst . I guess this can be closed, now?

[2020-08-25 11:18] #756 closed

[2020-08-25 11:59] rdenhof commented on #762
I could imagine automerge would make sense, otherwise # of PRs might be exhausting: there's one per dependency. I suggest to update dependencies and to introduce Dependabot at the same time.

[2020-08-25 14:09] aahlenst commented on #762
What's the behaviour of automerge? Does it wait for the CI to pass? If so, it might be an option if the CI catches problems created by incompatible updates. We don't do automerge over on the AdoptOpenJDK blog. Is it tedious? Absolutely. But we had multiple cases of incompatible updates proposed by Dependabot.

[2020-08-25 21:09] rdenhof commented on #762
There's just mentioned after checks have been performed successfully. So for my understanding it should pass, yes.

`For all of the options below Dependabot will wait until all your status checks pass before merging. You can also set working hours for automerging in your dashboard account settings.`

Unfortunately I cannot verify right now, but your're right: it might be risky. I also saw that the

[2020-08-26 06:47] aahlenst commented on #762
From my point of view, both options are fine: Enable automerge right away or skip automerge for the moment, see how it goes and then we can either leave it off or enable it.

[2020-08-26 08:16] rdenhof commented on #762
I'll do so (1st option). That's also the recommended way as far as I understood.

[2020-08-26 14:18] rdenhof commented on #762
Unfortunately not possible, so back to option 2. Please review [PR 763](https://github.com/AdoptOpenJDK/openjdk-website/pull/763).

[2020-08-26 15:49] rdenhof commented on #762
Created two separate ones for [Dependabot](https://github.com/AdoptOpenJDK/openjdk-website/pull/764) and for [`npm audit fix`](https://github.com/AdoptOpenJDK/openjdk-website/pull/765). [PR 763](https://github.com/AdoptOpenJDK/openjdk-website/pull/763) was deleted.

[2020-08-27 08:14] #762 closed

[2020-08-27 08:43] rdenhof commented on #646
I would suggest getting rid of "Submit an issue" by replacing with FAQ. Then set with arrows could look like
- Installation
- Migration
- Support
- Get Involved
- FAQ

on all pages.

To other links underneath I'd add link to Docker repo.

On burger menu I think it would make sense to have all links appearing on bottom additionally but well structured.

[2020-08-27 11:16] karianna commented on #550
That would be good yes or perhaps a link to the LJC website.

[2020-08-27 12:31] aahlenst commented on #646
@rdenhof It's hard for me to evaluate the proposed changes if I have to map the text here in my head to the website in a different window. Could you create a small sketch? Does not have to be fancy.

[2020-08-28 07:54] rdenhof commented on #646
What about this (I didn't consider order below "Further information", yet):
![646](https://user-images.githubusercontent.com/4981146/91536045-6c12a380-e914-11ea-91b1-8200f76e7a0e.PNG)

[2020-09-02 11:32] gdams commented on #477
Issues have been reported with the new codesign cert. Sounds like it needs to be whitelisted by the defender team

[2020-09-03 19:27] akdsco commented on #550
Ok, if we'd like to add a link to LJC, then it would be good to settle on some sort of wording for it that fits best.
What I thought of doing is adding a paragraph to `Who's behind the AdoptOpenJDK.net Community?` section.

Maybe something like:

Then if anyone goes onto the LJC page, they should be able to find the official address in the footer.

[2020-09-08 10:58] karianna commented on #550
Apologies, I was away on leave.

That sounds find although the wording should be something more like:

[2020-09-08 12:25] karianna opened #786 "Expose Metadata and java -version output from the API on the website"
The Metadata JSON file is now available via the API (https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/235)

The java -version output can also be exposed now https://github.com/AdoptOpenJDK/openjdk-api-v3/issues/236

Sensible places would likely be the metadata file as a small link next to each binary and the java -version output in the installation pages

[2020-09-08 18:22] danpritts opened #787 "Yum repo distribution broken on RHEL6 server"
## Summary

The recommended yum.repos.d file for RHEL uses the variable "$releasever" to get the RHEL version and correlate it to the appropriate path name on your download site.

This works fine on Centos, where the releasever is always "6".  However, on genuine redhat, you will get "6Server" if you've installed the "server" version.  I think you might alternately get "6Workstation" but all I hav

[2020-09-08 19:55] akdsco commented on #550
Ok perfect, I've created a pull request #788

[2020-09-09 10:10] akdsco commented on #753
Wow, @ParkerM what a great response :+1: Thank you

Ok, it looks like it is the case with the API response being different.
Now, I believe that we have two options here:

1) we change the way API responses (so that it gives us `release_link`)
 or
2) we fetch from a different `url` and get the data we want this way

I explored this [API's](https://github.com/AdoptOpenJDK/openjdk-api-v3/blob/master/

[2020-09-10 06:38] aahlenst commented on #646
The proposed changes make sense from my POV.

[2020-09-11 09:33] sxa commented on #646
Yep FAQ needs to be more prominent. That doc is relatively new and absolutely should be a priority for inclusion on more pages. [Supported platforms](https://adoptopenjdk.net/supported_platforms.html) is the other one I sometimes get lost trying to find (you have to find the [Support page](https://adoptopenjdk.net/support.html) and then it's linked from the bottom of that :-)

[2020-09-14 00:38] grimlock81 commented on #758
Any updates on this issue?

[2020-09-14 20:57] ParkerM commented on #753
Agreed that those sound like the two most valid options.

I'm inclined to say that the first one seems like the most sensible approach. Namely because both of those API endpoints return a `release_name` attribute, but `release_link` is only missing from one of them, so presumably they're both querying that same `Release` resource but only one of them is currently including `release_link` in its re

[2020-09-15 19:12] KOLANICH opened #792 "Download pages don't work without JavaScript"
* **Browser**: Mozilla Firefox

The page should be usable without JavaScript.

[2020-09-17 08:58] karianna commented on #792
We rely on Javascript to dynamically build those pages.

[2020-09-17 08:58] #792 closed

[2020-09-18 06:12] KOLANICH commented on #792
It souldn't be done client side. JavaScript is considered harmful.

[2020-09-18 07:03] aahlenst commented on #792
The desire to have a download page that works without JavaScript is legit. But nowadays it's not feasible because the page is deployed as a static page to Github Pages and all dynamism comes from JavaScript. An overhaul of our webpage is long overdue and I'll propose a Java-based back-end with some JS sprinkled on top.

[2020-09-18 20:10] KOLANICH commented on #792
How about just a static website generated automatically, without any mandatory JS-based interactivity, so no need to have a hosting capable to run code?

[2020-09-21 13:10] karianna commented on #792
Because of the sheer amount of permutations of platform and version combinations means we need to provide users some helpful Ux.  A gigantic spreadsheet in HTML form would not be popular :-)

Don't forget you can get your binary directly from the API if you choose to skip our website.

[2020-09-21 19:27] KOLANICH commented on #792
I currently have to do it. Not a convenient way.

[2020-09-22 07:18] hendrikebbers commented on #400
@Maldivia I edited your issue description to match our template for "good first issue". I will later this week remove your and my comments to have this issue as clear as possible for a newcomer :)

[2020-09-22 07:19] hendrikebbers commented on #400
Oh, I just see that a fix was already merged ... @Maldivia should we close this issue?

[2020-09-24 21:38] Maldivia commented on #400
@hendrikebbers Hadn't noticed myself that something had been done here.
But step 3 right now is a bit misleading, since the command is a powershell command and the intro text says " use Terminal/Command Prompt ".

But I don't really know how many people are using these instructions anyway; I guess most people choosing to download the .zip file instead of the installer knows how to extract a .zip f

[2020-10-03 12:00] aahlenst commented on #758
Removing the "good first issue - candidate" label because this task requires JBS access to complete. Without JBS access, the JBS reports won't contain security issues.

[2020-10-04 22:45] ParkerM commented on #787
Would it make sense to instead add RHEL-ish paths to artifactory? That's how it's handled by EPEL repos which keeps them cross-compatible between CentOS/RHEL so YUM's `$releasevar` works as expected ([example of top-level EPEL structure](https://mirror.sfo12.us.leaseweb.net/epel/)).

Also noticed there's a [`/rpm/rhel`](https://adoptopenjdk.jfrog.io/adoptopenjdk/webapp/#/artifacts/browse/tree/Gene

[2020-10-05 06:21] aahlenst commented on #787
Artifactory cannot do this as far as I know.

[2020-10-08 14:58] aahlenst opened #799 "Update Migration Guide and document that we're not going to bundle any fonts"
See https://github.com/AdoptOpenJDK/openjdk-support/issues/70 for context.

[2020-10-13 13:10] sxa commented on #685
This was fixed under https://github.com/AdoptOpenJDK/openjdk-website/pull/784

[2020-10-13 13:10] #685 closed

[2020-10-19 08:28] hendrikebbers commented on #799
From my point of view this will be a good first issue once the blog post is online (https://github.com/AdoptOpenJDK/blog/issues/498). Otherwise it will be quite hard to understand for a newcomer. @aahlenst can you ping me once the post is online. I will transform this issue in a "good first issue" afterwards.

[2020-10-19 08:53] hendrikebbers commented on #400
ok, so the issue will stay open and maybe somebody will provide a small fix for step 3 at hacktoberfest :)

[2020-10-19 09:19] hendrikebbers commented on #654
@sxa this looks like a Safari issue. Nothing that we can fix from my point of view. On my machine it works with Chrome but fails with Safari, too.

[2020-10-19 09:23] hendrikebbers commented on #672
@sxa can you give an hint of the current state of the test machines. Currently it is not clear what OS should be added to the support section.

[2020-10-19 09:27] hendrikebbers commented on #51
The documentation has changed and do not contain the "java -version" step anymore.

[2020-10-19 09:27] #51 closed

[2020-10-19 09:28] #758 closed

[2020-10-19 09:41] hendrikebbers commented on #419
@karianna @gdams should we use https://dash-v2.adoptopenjdk.net or https://dash.adoptopenjdk.net ?

[2020-10-19 09:42] gdams commented on #419
v2 now, we'd have to find a way to generate the URL with params

[2020-10-19 10:10] hendrikebbers opened #816 "Download statistics are not part of the status page"
https://status.adoptopenjdk.net does not contain https://dash.adoptopenjdk.net and https://dash-v2.adoptopenjdk.net

[2020-10-19 10:25] hendrikebbers commented on #419
I created an additional issue for the status page: https://github.com/AdoptOpenJDK/openjdk-website/issues/816

[2020-10-23 08:06] rdenhof commented on #646
What about placing 'Supported platforms' as first element in the section with the arrows (right before 'Installation')? If you're fine with it I could start with the change.

[2020-10-24 10:44] marko-asplund opened #818 "Availability of Shenandoah GC in 11.0.9?"

[2020-10-24 10:46] marko-asplund commented on #818
wrong repo

[2020-10-24 10:46] #818 closed

[2020-10-26 12:48] andybissen opened #823 "Broken Link to OpenJ9 FAQ"
* **Browser**: Firefox 82.0 (64-bit)

Hello,

The hyperlink to 'OpenJ9 FAQ' on [AdoptOpenJDK FAQ](https://adoptopenjdk.net/faq.html) is returning a 404 response code on the eclipse site.
The link is under the headline **What is the difference between HotSpot and OpenJ9 downloads?**

The link currently points to https://www.eclipse.org/openj9/oj9_faq.html
But, I think it may need to point to https:

[2020-10-26 15:57] tellison commented on #823
@andybissen thanks for reporting that.

[2020-10-26 16:31] Marc-Maathuis opened #826 "Duplicate entry in roadmap table"
The recently updated roadmap table on [https://adoptopenjdk.net/support.html](url) contains a duplicate entry for Java 15.

[2020-10-26 16:36] gdams commented on #816
They are under the dashboard section if that's what you're looking for?

![Screenshot 2020-10-26 at 16 36 00](https://user-images.githubusercontent.com/20224954/97200606-56e9b200-17a9-11eb-8ef5-ae93b50224d6.png)

[2020-10-26 16:36] #816 closed

[2020-10-26 16:37] #823 closed

[2020-10-26 18:28] tellison commented on #750
Closing this as WONTFIX.  While I have no objection to Tor, I think a Cloudflare 'challenge' is reasonable for browser users, and while I’ve not studied it closely there may be a way for scripts to access our API via the [Cloudflare onion service](https://blog.cloudflare.com/cloudflare-onion-service/).  If not you will likely have to seek out a non-tor gateway.

[2020-10-26 18:28] #750 closed

[2020-10-27 09:10] tellison commented on #826
Thank you for noticing and reporting it @Marc-Maathuis

[2020-10-27 10:12] tellison commented on #733
See also #669 for similar request

[2020-10-27 13:38] joschi commented on #826
Fixes in #831.

[2020-10-27 13:38] #826 closed

[2020-10-27 18:59] #720 closed

[2020-11-11 22:11] tellison commented on #643
Still have a "Meeting diary" link near the bottom of the home page.

[2020-11-12 07:58] #643 closed

[2020-11-12 08:05] Enigmatum opened #841 "AdoptOpenJDK jdk8u275-b01 SHA256 checksums invalid?"
## Question

I've just downloaded all the four JDK/JRE 64/32 bit Windows builds of jdk8u275-b01, but all of the files seem to fail SHA-256 checksum comparison. I've tried generating SHA-256 both using sha256sum (cygwin) and online at https://emn178.github.io/online-tools/sha256_checksum.html.

The values I calculated online and with cygwin's sha256sum agree with each other, but differ from the val

[2020-11-12 08:06] aahlenst commented on #841
On https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=hotspot, checksums are next to each package type and they match.

https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=hotspot is not exactly well-done and should display the checksums next to each package type.

[2020-11-18 09:21] andyiizuka opened #847 "Version number reverted on Munki import"
When importing the pkg into Munki it determines the version  from the pkg file.

EG
OpenJDK 8u262b10 | 1.8.0_262-b10 | macOS | Custom | Munki
OpenJDK8U-jdk_x64_mac_hotspot_8u | 1.8.0_265-b01 | macOS | Custom | Munki

However after the 265-b01 version, the version number is now 1.0

OpenJDK8U-jdk_x64_mac_hotspot_8u272b10 | 1.0 | macOS | Custom | Munki

This then prevents munki from pushing out the

[2020-11-18 18:45] sxa commented on #672
Support page was updated under https://github.com/AdoptOpenJDK/openjdk-website/pull/783 so can be closed - we only have [one RHEL8](https://ci.adoptopenjdk.net/computer/test-aws-rhel8-x64-1/) system at the moment but will look to increase that capacity as we go forward.

[2020-11-18 18:45] #672 closed

[2020-11-20 13:00] sxa opened #848 "Debugimages for OpenJ9 GA levels are not easy to find"
Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/2245

The OpenJ9 debugimage downloads for the GA levels are not easy to find.

If you go to the nightlies e.g. https://adoptopenjdk.net/nightly.html?variant=openjdk11&jvmVariant=openj9 you can see teh `debugimage` downloads, however on the GA pages then
- they are not visible
- there is no direct link to the github release to let you find t

[2020-11-27 15:16] tellison opened #857 "Release notes for 8u272 and 8u265 do not expand correctly"
If you go to expand the [release notes for 8u265](https://adoptopenjdk.net/release_notes.html#jdk8u265), the notes for 8u272 are expanded.  The [notes for 8u272](https://adoptopenjdk.net/release_notes.html#jdk8u272) do not expand when clicking that [+/-] anchor icon.

[2020-11-30 17:25] #857 closed

[2020-12-06 03:07] dscotese opened #861 "Downloaded file comes with NO instructions."
**What are you trying to do?**
Install jdk-11.0.9.1+1
**Expected behaviour:**
Extracting the tar file produces a file in the top level folder ("jdk-11.0.9.1+1") which instructs the user on how to get it installed so that `java -version` indicates that Java is installed.
**Observed behaviour:**
The extracted tar file contains no instructions on what to do with the extracted files.
**Any other comme

[2020-12-10 17:06] smlambert opened #865 "Review and Update the "Get Involved" page"
Going through a review of the [Get Involved page](https://adoptopenjdk.net/getinvolved.html), to make sure all personas are captured and to smooth out the onboarding experience at the project (prompted by the possibility we may be hosting some university programs in 2021, but also because its good to continue to improve the experience for all).

When I read this page with beginner eyes, I do not i

[2020-12-10 17:19] smlambert opened #866 "Review and Update the Release Notes page"
There have been assorted issues with requests to improve our release notes information.  There is additionally a desire to automate some of the information, as we release frequently and leaving the release notes updates as a manual step for a release champion is onerous.

This issue means to review the [current release notes page](https://adoptopenjdk.net/release_notes.html) and the process by whi

[2020-12-11 15:06] adamfarley opened #868 "Proposal for machine usage chart and analysis view"
**Summary**
It would be useful to have the ability to view both the pattern of machine usage over time by platform, and also an analysis of this data (e.g. peak capacity vs peak usage, or total per-day usage vs total per-day capacity).

**Reasoning**
This data, if correctly analysed, would give us an at-a-glance answer to the following questions:

- How many machines do we need per platform, vs ho

[2020-12-11 15:07] adamfarley commented on #868
Also, I've seen the statistics view on Jenkins, and I question both its accuracy, and the usefulness of it in identifying this sort of precise data.

Example:

![image](https://user-images.githubusercontent.com/26874628/101919517-938b3480-3bc2-11eb-850d-3610d537f05a.png)

[2020-12-21 16:46] ChristianStadelmann commented on #198
I also stumbled over the bad German translation which only makes sense after re-translating back to English. How about disabling Localise?

[2021-01-06 13:06] gdams commented on #868
This would likely end up in the dashboard rather than the website. Moving the issue

[2021-01-07 16:41] adamfarley commented on #866
Adam's work:
- Step 1: Gather list of resources available to us. Stylesheets, mailing list message + link, etc.
- Step 2: Complete MVP. Take mailing list message and feed it into stylesheet. Auto-generate PR via github action, triggered by comments in issues?
- Step 3: Gather some feedback. Draw up plans for further development.

Resources:
- Mailing list email example for release notes source: Lo

[2021-01-07 21:50] aahlenst commented on #866
To save you some time, what I could find out in past endeavors...

Our current process:

1. Find someone with a JBS account (OpenJDK author status or better).
2. Nag them until they give in. If they don't, GOTO 1.
3. Make them run a query like https://bugs.openjdk.java.net/browse/JDK-8253813?jql=project%20%3D%20JDK%20AND%20fixVersion%20%3D%2011.0.9%20ORDER%20BY%20created%20DESC while being logged

[2021-01-08 11:15] adamfarley commented on #866
Good news is that I already have author status, but there's something decidedly questionable about using an author login to give author-or-above information to non-authors. Especially when it comes to security bugs.

Thanks for the rest of the information. I'll be sure to avoid OracleJDK changesets, and I'll consult Max's repo if a GitHub bot turns out a better idea than a GitHub action (unless th

[2021-01-08 12:10] aahlenst commented on #866
While you have a point there, the release announcements on the OpenJDK mailing lists and Foojay both reveal that information after the version has been released. But they only reference the title and bug number while omitting the details. Foojay only links to the CVE database (https://foojay.io/java-11/?quarter=092020&tab=cve).

I'm not arguing for a specific approach (yet), only providing informa

[2021-01-08 13:33] adamfarley commented on #866
Fair enough. Thanks for filling me in on all that. :)

[2021-01-13 19:12] petermllrr opened #882 "Debian apt-get installation: Accidentally writing Debian version Uppercase causes apt-get update to throw an error"
In the official steps to install [OpenJDK on Debian Linux machines](https://adoptopenjdk.net/installation.html?variant=openjdk11&jvmVariant=hotspot#linux-pkg) a little typo can get by unnoticed pretty easily. When adding the repository:

[code]
it happend to me that I wrote the Debian codename with a capital first letter (copypaste):

[code]

This causes an error later on when upgrading the repo:

[2021-01-19 15:21] karianna commented on #882
@petermllrr - Can we interest you in a Pull Request? :-)

[2021-01-22 21:07] awsafsakif opened #886 "Access Old Nightly Builds from Adopt Build Website or API"
* **Browser**:
Chrome

Hello, I wanted to do a quick followup to #698. While I can go back as far as possible now. I was looking for an old build for s390x from May 2019. After inputting those dates here's what I see:
![missingbuilds](https://user-images.githubusercontent.com/28804660/105545952-b4b76880-5cca-11eb-9b8c-2b67e2ec06c1.PNG)

### Problem:
There doesn't seem to be any nightlies between A

[2021-01-26 17:43] adamfarley commented on #866
Notes:

*Plan*
Person writes "generate release notes for 11.0.9" command in a TSC issue.
A github action generates a back-end release notes file for that release.
A PR is created to merge the file. (See "Create Pull Request" in autoTestPR.yml in openjdk-tests for an example of how to do this.)

Note: Right now the Github action prototype force-pushes into Adam Farley's staged branch, as he wanted

[2021-01-27 16:40] ucchino opened #890 "Macos installation instructions"
I see the istructions for archive installation : https://adoptopenjdk.net/installation.html#archives

Using Macos i see also :

1 -> Extract the .tar.gz. You can use the following command: tar xzf OpenJDK11U-jre_x64_mac_hotspot_11.0.10_9.tar.gz
2 -> Add this version of Java to your PATH: export PATH=$PWD/jdk-11.0.10+9-jre/bin:$PATH
3 -> Check that Java has installed correctly: java -version

But..

[2021-01-27 17:17] aahlenst commented on #890
You should use the PKG because that's notarized. If you do not want to use the PKG, move jdk-11.0.10+9-jre to /Library/Java/JavaVirtualMachines/. You can then discover it via /usr/libexec/java_home and set the version with `JAVA_HOME`. That's the proper integration for macOS and allows to invoke `java` directly. https://medium.com/notes-for-geeks/java-home-and-java-home-on-macos-f246cab643bd expla

[2021-01-27 17:45] ucchino commented on #890
Actually, I noticed this because I want to use java bundled with my application.
A self-contained archive with application and jre.
Wanting to do so for now I have succeeded with that trick.
But I was wondering if there was anything official

[2021-01-27 20:47] aahlenst commented on #890
Could you please elaborate?

[2021-01-28 12:58] ucchino commented on #890
The official java documentation doesn't helped me much

https://docs.oracle.com/javase/7/docs/technotes/guides/jweb/packagingAppsForMac.html

But this article does: http://www.balthisar.com/blog/bundle-the-jre/

In fact here this guy did like me, but it in a more thorough way. However i see that he set: export JAVA_HOME = /Library/Java/JavaVirtualMachines/jdk-10.0.2.jdk/Contents/Home

{JSDNuVFrame

[2021-02-04 04:53] chkal opened #897 ""Latest releases" page breaks in IE11"
* **Browser**: Internet Explorer 11.737.17763.0 on Windows Server 2019

The "Latest releases" page doesn't seem to work in IE11. The radio buttons appear, but the release list doesn't show up. The browser console emits the following error:

    Object doesn't support property or method 'append'

![ie11](https://user-images.githubusercontent.com/159245/106846496-3e910980-66ad-11eb-9cd4-ccc524bbc405

[2021-02-04 11:45] #897 closed

[2021-02-10 09:34] hendrikebbers opened #900 "Adding flyers"
We created some AdoptOpenJDK flyers (see https://github.com/AdoptOpenJDK/openjdk-website/pull/881 and https://github.com/AdoptOpenJDK/openjdk-website/pull/891). We need to add them to the page.

Maybe we can add a new menu entry (flyers?) and change the top banner on the page for some time to download them? both PDFs and a preview image can be found in the assets folder

[2021-02-10 15:52] devilsclaw opened #901 "ImageIcon on HotSpot builds after jdk-11.0.6+10"
* **Browser**:

I have a problem that exists in all release versions after jdk-11.0.6+10 HotSpot, the problem does not exist in the OpenJ9 releases.

java.util.List<Image> icons = new ArrayList<>();
ImageIcon icon = new ImageIcon(getClass().getResource("/images/sys_icon.gif"));
Image image = icon.getImage();
icons.add(image);
setIconImages(icons);

I have debugged the code to rule out that its not

[2021-02-20 11:20] EmergReanimator commented on #787
How about to update the page https://adoptopenjdk.net/installation.html#linux-pkg ?

# From

[code]
# To

[code]
---
## Following configuration is tested on Fedora
``/etc/yum.repos.d/adoptopenjdk.repo``
[code]

[2021-02-20 13:31] aahlenst commented on #787
@EmergReanimator Thanks for your suggestion. I don't see the difference between the first and second variant and also don't understand how it solves the problem described by the OP (which might not be present on Fedora).

[2021-02-20 14:38] EmergReanimator commented on #787
Thanks for prompt reply!
1. _baseurl_ currently stated on website is invalid. _adoptopenjdk_ needs to be replaced by _artifactory_ in _baseurl_. Otherwise dnf complains about that:
[code]
2. Regarding relevance to original issue. I agree, the proposed change, has a quite weak relation to current report.
I added the comment, just to avoid duplicates in the bug-tracker. I may submit new bug, if you

[2021-02-20 15:06] aahlenst commented on #787
Of course it does. You mix `centos`  with the version of `fedora`. Replace that and you get what you want:

[code]

[2021-02-20 16:25] EmergReanimator commented on #787
I see. Thanks for feedback!
You are right. It was my mistake.

[2021-02-22 10:03] karianna commented on #787
@aahlenst should we close this issue or?

[2021-02-22 10:14] aahlenst commented on #787
@karianna The problem with RHEL is something that hopefully can be solved with the new website. And it's unrelated to @EmergReanimator's problem with Fedora.

[2021-03-03 13:18] andrew-m-leonard commented on #696
debugimage's for openj9 and hotspot are available on the website, eg: https://adoptopenjdk.net/nightly.html?variant=openjdk8&jvmVariant=openj9

[2021-03-03 13:18] #696 closed

[2021-03-19 13:57] karianna opened #941 "Link Linux installers to installer instructions"
The release archives state that we have no linux installers, which is not true.  Instead we should point them at:

https://adoptopenjdk.net/installation.html#linux-pkg

[2021-03-22 20:29] smlambert commented on #866
This issue should be addressed by the website-adoptium work so removing from Top Priorities project.

[2021-03-29 20:04] Joyce-O commented on #419
I will work on this issue

[2021-03-30 03:06] jwnmoon commented on #594
Hi, I'll start working on this issue! :)

[2021-03-30 04:53] xunforce opened #953 "A problem with ghidra"
Now,I'm using adoptopenjdk 16(openj9),but ghidra doesn't work.I tested on windows 10 and manjaro linux,both of them can't work like them should be.

[2021-03-30 08:08] Apurwa96 commented on #594
Hi, I have never contributed to Open Source before and would like to start with this task.

[2021-03-30 08:46] aahlenst commented on #594
@jwnmoon @Apurwa96 Thanks a lot, but we haven't noticed that this task isn't ready for anyone to work on (totally our fault). Please pick something else.

@thegreystone @reinhapa I close this issue. You're now publishing to GitHub and Artifactory was never fit for the purpose. We should work out the distribution story at Eclipse. Please create a new ticket in the JMC repo, state your requirements

[2021-03-30 08:46] #594 closed

[2021-03-30 14:44] brngylni commented on #645
Can I give it a try?

[2021-03-30 18:00] vanichitkara commented on #645
I'd love to work on this issue and it would be my first time to make a PR in such a  big project so I'd be really glad if I could get the chance to work on this!

[2021-03-30 18:22] smlambert commented on #645
Looks like 3 people want this one, @brngylni - you claimed it first, so go for it!

@SondosAhmed and @vanichitkara - can you please select different ones from the Good First Issues list?

[2021-03-30 19:00] SondosAhmed commented on #741
I want to try this if possible

[2021-03-30 20:16] brngylni commented on #645
Thanks. By the way can I get a bit more information about the task?

[2021-03-31 08:07] Apurwa96 commented on #400
Hi, I am an outreachy applicant and first time contributing to Open Source. can I work on this task?

[2021-03-31 10:21] ellschi commented on #593
I claim this issue as mine! Does this mean that I am assigned automatically or do I need to get in touch with someone about that?

[2021-03-31 14:27] smlambert commented on #400
Yes, thanks @Apurwa96 !  If you have questions, please ask them in this issue!

[2021-03-31 15:04] andrew-m-leonard opened #958 "Website "Releases" needs to support "Debug Image" download"
https://adoptopenjdk.net/archive.html?variant=openjdk16&jvmVariant=hotspot
jdk-16+36 now provides both Hotspot and OpenJ9 debug images. However, the Releases page does not show download links for debugimages, like the Nightly page does: https://adoptopenjdk.net/nightly.html?variant=openjdk16&jvmVariant=hotspot

[2021-03-31 21:00] ellschi commented on #593
Great! Thanks so much

Martijn Verburg ***@***.***> schrieb am Mi., 31. März 2021,
19:45:

[2021-04-01 07:36] ellschi commented on #593
So, I have a collection of first questions - do I post them here or should I contact someone (@karianna?) directly about that?

[2021-04-01 07:40] aahlenst commented on #593
Please ask questions here. This allows us to go back and see how something came together.

[2021-04-01 09:15] ellschi commented on #593
Sooo, here go my questions:
If I get it right, to solve this issue, I would have to
a) add an .uninstaller .pkg to this [code ](https://github.com/AdoptOpenJDK/openjdk-api-v3/blob/master/adoptopenjdk-api-v3-frontend/src/main/resources/JSON/platforms.json) and
b) add a description how to use it to this [website](https://adoptopenjdk.net/index.html).
Is this right so far?

If it is, I need direction

[2021-04-01 10:38] #645 closed

[2021-04-01 11:48] karianna commented on #593
I'd recommend trialing the steps in answer to https://stackoverflow.com/questions/25925752/uninstall-packages-in-mac-os-x - if that works for uninstalling our installer then I think you can write up those instructions.  I'm going to assume it's a 1-2 line command so I'm hoping we won't need to create an uninstaller.

[2021-04-01 12:08] TobiX opened #960 "Switch away from apt-key in Debian/Ubuntu instruction"
The apt maintainer has recently announced that [apt-key is deprecated](https://blog.jak-linux.org/2021/02/18/apt-2.2/#deprecations) and its use is seen as an [antipattern by other Debian developers](https://michael-prokop.at/blog/2021/02/16/how-to-properly-use-3rd-party-debian-repository-signing-keys-with-apt/).

I would suggest to adopt something like the [Kubernetes instructions](https://kuberne

[2021-04-01 12:20] aahlenst commented on #960
The information how to do this properly is super hard to find (at least for me). So thanks a lot for the links.

It's already planned to create a keyring package, but that won't happen with the old AdoptOpenJDK repository that's going to be replaced soon-ish anyway. Development happens in my private repository (ticket: https://github.com/aahlenst/adoptium-packages-linux/issues/2).

I'm happy to re

[2021-04-01 12:33] aahlenst commented on #960
To turn it into an issue for newcomers, what to do:

1. Checkout the website (*this*) repository.
2. Look for the page that contains the install instructions and for the segment that mentions how to install using a Debian repository.
3. Change the existing instructions so that they no longer use apt-key. Instead [adapt the instructions provided for Kubernetes](https://kubernetes.io/docs/tasks/tool

[2021-04-01 14:45] ellschi commented on #593
Oh, was this issue meant for mac os only? I can't test that, I'm so sorry!

[2021-04-01 14:57] karianna commented on #593
It is Mac only, no worries, I'll unassign you.

[2021-04-02 16:20] codeupall commented on #682
Hi, this is my first time trying to contribute, can I work on this? Thanks!

[2021-04-02 20:09] smlambert commented on #682
For sure, welcome @codeupall !  If you have any questions, please feel free to ask in this issue!

[2021-04-05 05:20] Apurwa96 commented on #400
Hi, Please review the pull request https://github.com/AdoptOpenJDK/openjdk-website/pull/966 and let me know in case of any changes. :)

[2021-04-06 12:52] smlambert opened #967 "Automate the creation of a website banner"
As briefly described in https://github.com/AdoptOpenJDK/TSC/issues/178, adding a release banner at the start of a release period is a task that needs to be done, but could be made easier/simpler.

- Create an issue template called "Add banner", which prompts for `contents of banner`
- Create a workflow file that is triggered on creation of issue, that takes content of banner and creates a PR (here

[2021-04-07 18:19] #400 closed

[2021-04-14 18:09] #346 closed

[2021-04-16 12:01] karianna commented on #346
We'll look to re-implement internationalization over at Eclipse Adoptium.

[2021-04-16 12:10] Mogztter commented on #346
Cool, and congrats on the transition to Eclipse 👍🏻
I'm involved in another Eclipse project (https://projects.eclipse.org/projects/technology.asciidoc) so we will neighbor 😉

[2021-04-16 16:31] jmichler commented on #477
Hi,
I think this is still an issue:
C:\Program Files (x86)\Horus_269\jre18282\bin>java -version
openjdk version "1.8.0_282"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_282-b08)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.282-b08, mixed mode)

C:\Program Files (x86)\Horus_269\jre18282\bin>C:\Users\jmichler\Downloads\Sigcheck\sigcheck64.exe -a java.exe

Sigcheck v2.80 - File version

[2021-04-18 10:27] Martins-O-U commented on #960
Hello @

@aahlenst I'm an Outreachy Applicant here and I am interested in updating the website instructions to match the Kubernetes instructions.
@smlambert @sophia-guo @llxia please could this task be assigned to me for my Outreachy contribution?

[2021-04-18 11:08] Martins-O-U commented on #960
Thanks @karianna

[2021-04-19 14:28] Martins-O-U commented on #960
Hello @karianna, I have opened a Pull Request ( https://github.com/AdoptOpenJDK/openjdk-website/pull/973 ) for the documentation update. I did it a little different from that of Kubernetes due to errors I had while testing theirs.
Please review/test for confirmation.
Thanks

Cc: @aahlenst

[2021-04-22 10:54] kki03 commented on #799
Hi, since 11.0.10 the Freetype library is not bundled anymore and I doubt that the relicensed Lucida fonts will be shipped in the future. Instead it should be noted that Freetype and FontConfig are required to successfully run Eclipse Adoptium.

[2021-04-23 07:14] andrew-m-leonard opened #976 "WebSite "Latest" Releases should not show OpenJ9 "Large Heap" any more"
OpenJ9 now provides "Large heap" support in the new "mixed" mode of the "Normal" image, so as such the Latest Releases web page should only show the "Normal" types now.

[2021-04-28 18:47] rdenhof commented on #646
Any feedback to this topic?

[2021-04-29 14:57] karianna commented on #646
@rdenhof - Apologies for the delay.  The project is mostly focusing on the adoptium version of this site (as we transfer to the Eclipse Foundation).  See https://github.com/adoptium/adoptium.net (current site) and https://github.com/AdoptOpenJDK/website-adoptium (future site - will get migrated to adoptium GitHub soon)

[2021-04-30 15:37] AndreSchulz-IONOS opened #986 "checksum of lastest 8.x is wrong (OpenJDK8U-jdk_x64_linux_hotspot_2021-04-29-19-09.tar.gz)"
steps to reproduce
- open https://api.adoptopenjdk.net/v3/assets/version/%28%2C9.0%5D/?page_size=1&architecture=x64&image_type=jdk&jvm_impl=hotspot&os=linux&vendor=adoptopenjdk
  - cff73ce41d8879ca55b7a0b45ed5fb6c3829179633692ffaaf146259a969a8af
- download checksum_link https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2021-04-29-19-09/OpenJDK8U-jdk_x64_linux_hotspot_2021-0

[2021-05-02 16:31] hagman opened #987 "Windows Installer text problems in OpenJDK11U-jre_x64_windows_hotspot_11.0.11_9.msi"
* **Browser**: N/A

I post this issue here because I downloaded `OpenJDK11U-jre_x64_windows_hotspot_11.0.11_9.msi` from the website and followed the create an issue link on https://adoptopenjdk.net/releases.html .
I suspect a better place might be the obenjdk-binaries repo, but it seems I cannot create issues there.

When running the *.msi (on Windows 2016), some issues exist with the labels and e

[2021-05-04 16:33] karianna commented on #987
@hagman Could you move this issue to https://www.github.com/adoptium/installer?

[2021-05-18 16:50] flyingcircle opened #1005 "Linux 11.0.11+9 tar installs version 11.0.10"
I installed the most recent release version from this webpage: https://adoptopenjdk.net/upstream.html using the linux x64 distribution which says it is version 11.0.11+9.

However after the install when I run `java -version` it says that my current version is:
[code]

I have reverified through multiple downloads and uploads from different locations, but it simply looks the release is pointing to t

[2021-05-18 18:26] jerboaa commented on #1005
This cannot be right. Binaries from  https://adoptopenjdk.net/upstream.html identify as *OpenJDK*. Yours is an Oracle JDK build (note the `Java(TM)` bit):

[code]

[2021-05-18 18:26] #1005 closed

[2021-05-18 18:44] flyingcircle commented on #1005
You're right. Dumb mistake on my part.

[2021-05-26 08:54] Arkanosis opened #1011 "Poor French translations"
Hello,

The French translations of the website are extremely poor. As a French speaker, there are some parts I only understand because I also know English and can translate back to it.

The best example is probably the fact that “Hotspot” (the VM) is being translated as “Point chaud”!

![image](https://user-images.githubusercontent.com/124583/119631930-a613c600-be10-11eb-87a1-0ff9155e0ad6.png)

I

[2021-06-06 19:47] karianna commented on #1011
We're looking for a new system when we move to Adoptium.net

[2021-06-09 11:46] Zlika commented on #1011
I agree with @Arkanosis , just drop the translations as a quick workaround, they are more harmful than helpful.

[2021-06-12 09:00] CatMe0w commented on #1011
Chinese translations have the same issue. Proper nouns such as "Hotspot" and "Windows" should not be translated.

The whole translations are automatically generated by machine and mostly are incomprehensible.

![Hotspot](https://user-images.githubusercontent.com/7774491/121771056-9ed61180-cb9f-11eb-80ab-17ef32da5218.jpg)
![Windows](https://user-images.githubusercontent.com/7774491/121771057-9f6ea8

[2021-06-24 14:27] karianna opened #1027 "Add a Migration from AdoptOpenJDK to Adoptium Guide"
Especially WRT to moving Linux Repos, installers, Homebrew etc.

Information on the future migration path from AdoptOpenJDK -> Adoptium.

For example, the RPM installation on CentOS as described here: https://adoptopenjdk.net/installation.html?variant=openjdk8&jvmVariant=hotspot#installers

[2021-06-27 11:20] pgscada commented on #1011
Also "Windows" is translated as "les fenetres".
This is not just bad translation but also breaks the version lookup because no version with OS "les fenetres"
+1 @Arkanosis for reverting back untranslated version until a proper solution is found

![image](https://user-images.githubusercontent.com/23451157/123542511-4891d280-d74a-11eb-9b78-672dfe158cf7.png)

[2021-07-07 14:22] VictorS opened #1040 "add download mirrors as github is blocked in some organizations"
* **All browsers**:

Some organizations block github.com for security reasons.
Please add a mirror alternative for the downloads.

[2021-07-07 14:25] karianna commented on #1040
This is unlikely to be worked on at AdoptOpenJDK as we are transferring to Eclipse Adoptium (adoptium.net).  You may want to open an issue on the API repo in the adoptium org.

[2021-07-07 14:26] #1040 closed

[2021-07-10 14:15] #529 closed

[2021-07-12 14:32] dEajL3kA opened #1041 "German translation of "Build archive" is wrong"
* **Browser**: Firefox 90.0b12
* **Problem:** German translation for *"Build archive"* currently is ***"Archiv erstellen"***, which actually means *"Create an archive"*.
  * Obvisouly doesn't capture the original meaning!
* **Solution:** German translation should probably be changed to *"Archivierte Veröffentlichungen"* (archived releases). Or, if it is okay to use the English word *build* in Germ

[2021-07-13 09:45] karianna commented on #1041
We'll be moving to a new translation system over at adoptium.net

[2021-07-13 09:57] Pierre-de-la-Verre opened #1042 "Pisces and Marlin: Information too old"
You write:
_"The outlook for completion is Q2 2019."_
Now we are 2 years later, in Q3 2021 ..

[2021-07-13 09:58] karianna commented on #1042
The website will be superseded by adoptium.net and we'll fix up content there

[2021-07-14 21:40] RDKRACZ opened #1043 "No JDK-17-ea download?"
↓↓↓ this link from the template is dead.

http://www.bbc.co.uk/accessibility/guides/which_browser.shtml

Why is there no download links for early access java versions?

[Azul Zulu have them](https://www.azul.com/downloads/?version=java-18-ea&os=ubuntu&architecture=x86-64-bit&package=jdk).

[2021-07-14 22:11] karianna commented on #1043
We're in the middle of transitioning to adoptium.net but you can get 17 builds from the termrun17-binaries repo at the adoptium org in Github.  Ack on the browser link that's being redone as well.

[2021-07-14 22:11] #1043 closed

[2021-07-28 18:42] #1041 closed

[2021-08-04 06:52] AxeTheAxe opened #1054 "Download links for JRE are pointing to old locations"
* **Browser**: Firefox 90.0.2

The download links for the latest Java JREs (at least jdk8u302-b08, jdk-11.0.12+7 and jdk-16.0.2+7) are pointing to old locations for all platforms.
On the adoptium website downloads for JREs are missing at all.

[2021-08-04 23:16] karianna commented on #1054
This will be resolved when we release the latest JREs, only JDKs are our presently

[2021-08-11 06:22] morvael commented on #1054
If your infrastructure isn't ready, build JREs and JDKs for other platforms (waiting for ppc64le) using the old AdoptOpenJDK infrastructure. It's not good to boast about transition where majority of files released weren't updated and users are left in the cold :(

[2021-08-12 09:32] karianna opened #1063 "OpenJ9 vs Semeru labeling incorrect?"
The "Latest Release" pages at AdoptOpenJDK below have links to Semeru runtimes binaries.
https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=openj9
https://adoptopenjdk.net/releases.html?variant=openjdk16&jvmVariant=openj9
https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9

The OpenJ9 v0.27.0 binaries for AArch64 Linux are labeled as "AdoptOpenJDK" instead of

[2021-08-12 09:55] #1063 closed

[2021-08-25 13:49] #1054 closed

[2021-08-27 17:35] OpenJDK-Allianz opened #1071 "Need new x32 version still old version available OpenJDK8U-jre_x86-32_windows_hotspot_8u292b10"
Hi Team,

While downloading the Adopt OpenJDK8U-jre, we found that only x64 version is having 8u302 but for x32 version its still 8u292.

When can we expect the new 302 version for x32.

[2021-08-27 17:36] #1071 closed, assigned to nobody

[2021-08-29 02:58] tas50 opened #1072 "Linux x64 jdk-11.0.12+7 jre link is actually 11.0.11+9"
* **Browser**:  Firefox 91

If you browse to `https://adoptopenjdk.net/releases.html` and click the JRE link for Linux x64  11.0.12+7 it downloads 11.0.11+9

![image](https://user-images.githubusercontent.com/1015200/131236792-c62c495b-42a0-4d6d-b91c-77b22a8cfe00.png)

[2021-08-29 15:58] karianna commented on #1072
Yes, we're just waiting for the JRE release to come out - I'll see if we can patch the website in the meantime

@johnoliver - is there a short-term hack we can put in place here?

[2021-08-30 02:34] tas50 commented on #1072
Thanks for the quick response @karianna. I'll keep an eye out for that JRE release

[2021-08-30 14:33] nukemiko opened #1073 "Cannot filter Windows JDK releases in non-English environment"
If your main language not is English (such as Chinese), and you want to filter JDK releases by specified OS (such as Windows, it's displayed that "视窗" in Chinese), you can't see anything.

![图片](https://user-images.githubusercontent.com/53572814/131355803-5a2e6462-eb2c-4e24-a3b3-2607e5f6fa54.png)

[2021-08-30 14:57] karianna commented on #1073
Hi there, our website is now at adoptium.net where we will be applying a new internationalization library.

[2021-08-30 14:57] #1073 closed

[2021-12-05 18:39] proteriax commented on #1011
Please remove the French translation in the meanwhile. It’s incomprehensible and gibberish for native speakers.

[2021-12-06 11:14] karianna commented on #1011
This site is effectively deprecated for adoptopenjdk.net

[2021-12-06 11:14] #1011 closed

[2021-12-30 15:57] sxa commented on #1072
Complete now, and superceded by the downloads from adoptium.net

[2021-12-30 15:57] #1072 closed

[2021-12-30 15:59] sxa commented on #976
The web page is now pointing to IBM Semeru binaries so this should no longer be an issue. Closing.

[2021-12-30 15:59] #976 closed

[2021-12-30 16:02] sxa commented on #986
Closing this - not sure what happened but the latest Temurin 8 one at the above links now seem consistent

[2021-12-30 16:02] #986 closed

[2021-12-30 16:05] sxa commented on #987
Closing as I've raised an issue in adoptium/installer to cover it

[2021-12-30 16:05] #987 closed

[2021-12-30 16:11] sxa commented on #861
Related: https://github.com/AdoptOpenJDK/openjdk-website/issues/941

[2021-12-30 16:14] sxa commented on #941
Potentially useful reference for anyone picking this up: #405

[2021-12-30 16:25] sxa commented on #886
I think I'm going to close this as "wontfix" I'm afraid, unless there's a very good case for adding it. Those are over three years old now and not builds which we would generally support, particularly in light of the migration to Adoptium (and the fact we are no longer supporting OpenJ9 builds at the project - they will now be provided as IBM Semeru)

[2021-12-30 16:25] #886 closed

[2022-01-11 07:30] RockChinQ opened #1121 "Mistake of Chinese Translation of 'Migration'"
* **Browser**:

The "Migration" button at the bottom of page https://adoptopenjdk.net/ has been translated to "移民",but it is completely not the "Migration" means in Chinese.The correct translation should be "迁移".

[2022-01-11 11:02] karianna commented on #1121
We've migrated to adoptium.net - this site (and it's translations) will be deprecated.

[2022-01-11 11:02] #1121 closed

[2022-01-18 11:13] Yeswanth-Yesh opened #1125 "Adopt OpenJDK 8 X86 Linux version"
Am unable to locate Adopt OpenJDK 8 X86 Linux version. Is it available. If yes, please share the URL.

[2022-01-18 11:32] jerboaa commented on #1125
https://adoptium.net/releases.html?variant=openjdk8&jvmVariant=hotspot there are no 32bit Linux builds, though. Windows only.

[2022-02-14 12:19] karianna commented on #9
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:19] #9 closed

[2022-02-14 12:20] karianna commented on #11
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:20] #11 closed

[2022-02-14 12:20] karianna commented on #198
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:20] #199 closed

[2022-02-14 12:20] #201 closed

[2022-02-14 12:21] karianna commented on #217
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:21] #217 closed

[2022-02-14 12:21] #230 closed

[2022-02-14 12:21] karianna commented on #237
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:21] #237 closed

[2022-02-14 12:21] karianna commented on #254
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:21] #254 closed

[2022-02-14 12:22] karianna commented on #269
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:22] #269 closed

[2022-02-14 12:22] karianna commented on #280
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:22] #280 closed

[2022-02-14 12:22] karianna commented on #292
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:22] #292 closed

[2022-02-14 12:22] karianna commented on #312
Done

[2022-02-14 12:22] #312 closed

[2022-02-14 12:23] #314 closed

[2022-02-14 12:23] karianna commented on #335
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:23] #335 closed

[2022-02-14 12:24] karianna commented on #355
Fixed

[2022-02-14 12:24] #355 closed

[2022-02-14 12:24] karianna commented on #359
Macports is no longer a officially support installer at Adoptium at this stage

[2022-02-14 12:24] karianna commented on #362
Done

[2022-02-14 12:24] #362 closed

[2022-02-14 12:24] karianna commented on #368
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:24] #368 closed

[2022-02-14 12:24] karianna commented on #386
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:24] #386 closed

[2022-02-14 12:25] #390 closed, assigned to nobody

[2022-02-14 12:26] karianna commented on #396
New instructions at adoptium.net

[2022-02-14 12:26] #396 closed

[2022-02-14 12:26] karianna commented on #399
Not distributing this binary at adoptium at this time

[2022-02-14 12:26] karianna commented on #604
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:26] #604 closed

[2022-02-14 12:26] karianna commented on #403
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:26] #403 closed

[2022-02-14 12:27] karianna commented on #439
We use a banner for this.

[2022-02-14 12:27] #439 closed

[2022-02-14 12:27] breun commented on #359
@karianna Spring Boot also doesn't support the `spring-boot-cli` port in MacPorts themselves (I do that), but they still have the install command in their docs as a service for their users who use MacPorts.

[2022-02-14 12:27] karianna commented on #419
Not actually useful for end users, so won't implement this.

[2022-02-14 12:27] #419 closed

[2022-02-14 12:28] karianna commented on #440
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:28] #440 closed

[2022-02-14 12:28] karianna commented on #477
please raise this at gihub.com/adoptium if it is still an issue.

[2022-02-14 12:28] karianna commented on #481
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:28] #481 closed

[2022-02-14 12:29] karianna commented on #502
Marketplace in Adoptium will do this.

[2022-02-14 12:29] #502 closed

[2022-02-14 12:29] karianna commented on #503
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:29] #503 closed

[2022-02-14 12:29] karianna commented on #513
We are no longer enhancing this legacy website.  Please see the adoptium.net website.

[2022-02-14 12:29] #513 closed

[2022-02-14 12:29] karianna commented on #550
That's all Eclipse Foundation now.

[2022-02-14 12:29] #550 closed

[2022-02-14 12:30] karianna commented on #566
New instructions at Adoptium

[2022-02-14 12:30] #566 closed

[2022-02-14 12:57] karianna commented on #646
We're working on the new website at Adoptium.net

[2022-02-14 12:57] #646 closed

[2022-02-14 12:58] karianna commented on #641
We're working on the new website at Adoptium.net

[2022-02-14 12:58] #641 closed

[2022-02-14 12:58] karianna commented on #629
We're working on the new website at Adoptium.net

[2022-02-14 12:58] #629 closed

[2022-02-14 12:58] karianna commented on #628
resolved at adoptium

[2022-02-14 12:59] karianna commented on #941
resolved at Adoptium.net

[2022-02-14 12:59] #941 closed

[2022-02-14 13:00] #649 closed

[2022-02-14 13:00] karianna commented on #650
Should be fixed at adoptium.net

[2022-02-14 13:01] karianna commented on #654
Should be fixed at Adoptium.net

[2022-02-14 13:01] #654 closed

[2022-02-14 13:01] karianna commented on #669
New filtering system in place at Adoptium.net

[2022-02-14 13:01] #678 closed

[2022-02-14 13:02] karianna commented on #682
Instructions updated at adoptium.net

[2022-02-14 13:02] #682 closed

[2022-02-14 13:02] karianna commented on #733
@johnoliver - Is this resolved with the v3 API?

[2022-02-14 13:03] karianna commented on #734
@hendrikebbers Should the icedTeaWeb documentation now live at Karakun?

[2022-02-14 13:03] karianna commented on #741
No longer required

[2022-02-14 13:03] #741 closed

[2022-02-14 13:04] #755 closed

[2022-02-14 13:04] karianna commented on #787
instructions fixed on adoptoium.net

[2022-02-14 13:05] #1125 closed

[2022-02-14 13:05] #1042 closed

[2022-02-14 13:06] karianna commented on #967
Manual banners are required given changing state during a release

[2022-02-14 13:06] #967 closed

[2022-02-14 13:06] karianna commented on #960
instructions updated at adoptium.net

[2022-02-14 13:06] #960 closed

[2022-02-14 13:07] karianna commented on #900
No longer required.

[2022-02-14 13:07] #900 closed

[2022-02-14 13:07] karianna commented on #890
latest instructions at adoptium.net

[2022-02-14 13:07] #890 closed

[2022-02-14 13:07] #882 closed

[2022-02-14 13:08] karianna commented on #866
Work being done at adoptium.net

[2022-02-14 13:08] #866 closed

[2022-02-14 13:08] karianna commented on #865
work done at adoptium.net

[2022-02-14 13:08] #865 closed

[2022-02-14 13:08] karianna commented on #861
installation page updated at adoptium.net

[2022-02-14 13:08] #861 closed

[2022-02-14 13:09] karianna commented on #848
no longer required

[2022-02-14 13:09] #848 closed

[2022-02-16 16:25] 4096j commented on #753
https://krungthai.com

[2022-02-18 10:47] gdams commented on #753
Closing in favour of https://github.com/adoptium/website-v2/issues/117

[2022-02-19 17:16] breun commented on #359
@karianna Ok great, I've created https://github.com/adoptium/adoptium.net/pull/290 for that.

[2022-02-22 14:26] TobiX commented on #960
This one? https://github.com/adoptium/website-v2/blob/main/src/asciidoc-pages/installation/linux.adoc#deb-installation-on-debian-or-ubuntu - That still uses apt-key 😞

I'll try to send a new pull request to that repo this evening...

[2022-08-04 06:37] utkarshvishnoi11 commented on #733
Hey I am beginner here,Can anyone suggest something to contribute in?

[2022-08-04 13:01] karianna commented on #733
Please join our adoptium.net/slack channel :-)

[2022-09-19 22:35] mrkam2 opened #1198 "JDK8 for MacOS aarch64 is missing"
* **Browser**:

There is no MacOS aarch64 version of java 8. Is this intentional? How can I get one for this platform combination?

[2022-09-20 09:01] karianna commented on #1198
Adoptium does not support this combination.  You'll need to try Azul Systems.

[2022-09-20 09:01] #1198 closed

[2022-10-13 16:42] irfan-ra commented on #669
Are there a permanent link to download different version for Linux?  For example: OpenJDK19U-jdk_x64_linux_hotspot_19_36.tar.gz

[2022-10-13 16:44] irfan-ra commented on #733
Are there a permanent link to download different version for Linux? For example latest version of OpenJDK 19: OpenJDK19U-jdk_x64_linux_hotspot_19_36.tar.gz

[2022-10-13 19:03] tellison commented on #733
Have a look at https://api.adoptium.net/q/swagger-ui/

[2022-10-13 19:18] karianna commented on #669
see api.adoptium.net